/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Forum';
    src: url(fonts/Forum-Regular.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(fonts/Manrope-VariableFont_wght.ttf);
}

/* CABEÇALHO */
#cabecalho {
    width: 100%;
    position: fixed;
    z-index: 11;
    background-color: #FFF;
}

#cabecalho .cabecalho_sombra {
    height: 5px;
    background-color: #FFD233;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.30);
}

.cabecalho_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px;
}

.navegacao {
    display: flex;
    align-items: center;
}

.cabecalho_nav_itens {
    margin-right: 30px;
}

.cabecalho_nav_item {
    font: 400 18px 'Montserrat', serif;
    color: #000;
    margin-right: 25px;
}

.cabecalho_nav_item_Doe {
    background-color: #FB2673;
    font: 400 17px 'Montserrat', serif;
    border-bottom: 10px;
    padding: 10px 30px;
    color: #FFF;
}

.idiomas {
    margin: 15px 20px 0 0;
}

/* IDIOMAS */
ul {
    list-style: none;
}

.a-teste {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 20px;

}

.a-teste:hover {
    background-color: rgba(255, 255, 255, 0);
}

.img-teste {
    display: block;
    padding: 0 20px;
}

.principal {
    background-color: rgba(0, 0, 255, 0);
    width: 90%;
    /* margin: auto; */
}

.li-p {
    line-height: 50px;
    float: left;
}

ul li ul li {
    background-color: #74747400;
    height: 50px;
}

.ul-imagens {
    display: none;
    padding-left: 2px;
    position: fixed;
    z-index: 100;
}

/* DEIXA ESSE CSS DE INGLÊS TAMBÉM MESMO QUE A PÁGINA SEJA EM PORTUGUES, SÓ MUDA NO HTML */

ul {
    list-style: none;
}

.a-teste2 {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 20px;
}

.a-teste2:hover {
    background-color: rgba(255, 255, 255, 0);
}

.img-teste2 {
    display: block;
    padding: 0 20px;
}

.principal2 {
    background-color: rgba(0, 0, 255, 0);
    width: 90%;
    /* margin: auto; */
}

.li-p2 {
    line-height: 50px;
    float: left;
}

ul li ul li {
    background-color: #74747400;
    height: 50px;
}

.ul-imagens2 {
    display: none;
    padding-left: 2px;
    position: fixed;
    z-index: 100;
}

.geral {
    display: none;
}



/* COMEÇO DE DOAÇÃO */
img{
    width: 100%;  
  height: auto;
}
#imagem-comeco{
    font-family: Forum;
    font-size: 22px;
    line-height: 46.37px;
    text-align: center;
  
    
}
.le{
    margin-top: -40vh;
}

#comeco, #texto{
    padding-top: 40vh;
}
h2{
    color: #ffffffac;
}

/* texto */
p{
    font-family: Manrope;
    font-size: 20px;
    text-align: center;
}
span{
    color: #FB2673;
}

/* BOTÕES */
.btn{
    width: 176.4px;
    height: 63px;
    border-radius: 27px;
    border: 1px solid #FB2673;
    text-align: center;
    background-color: #FFF;
    margin-left: 4vw;
    font-size: 31.5px;
}

.botoes{
   
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
}

.btn, .btnn{
    font-family: Montserrat;
    
}

.button{display: flex;
   align-items: center;
    justify-content: center; 
}
.btnn{ 
    
    margin-top: 10vh;
   
    width: 235.13px;
    height:48.34px;
    border-radius: 27px;
    text-align: center;
    background-color: #FB2673;
    color: white;
    font-size: 23.94px;
    
}


    /* Estilizando o botão */
    .btn {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    /* Estilo quando o botão é clicado */
    .btn:active {
      background-color: #FB2673; /* Cor que desejar */
    }
  




/* RODAPÉ */
#contato {
    background: rgba(255, 228, 133, 0.74);
    padding: 73px 0;
    padding-bottom: 15px;
}

#contato .conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.rodapeCima {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape-lado1 {
    display: flex;
    flex-direction: column;
    margin: 0 70px;
}

.logoRodape {
    margin-left: 135px;
}

.redes {
    margin: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}

.icone {
    width: 55px;
    padding: 9px;
}

.icone:hover {
    width: 62px;
    transition: 0.5s;
    filter: brightness(50%);
}

.texto-rodape {
    font: 400 20px 'Montserrat', sans-serif;
}

.rodapeTexto {
    text-align: justify;
}

.enderecoTexto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-right: 15px;
}

.iconMaps {
    margin-right: 20px;
}

.textoMaps {
    font: 400 20px 'Montserrat', sans-serif;
}

.rodape-lado2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 70px;
}

.logoRodape img {
    width: 170px;
}

.menina img {
    width: 180px;
}

.imgMaps img {
    width: 380px;
    border-radius: 10px;
}

.imgMaps {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.direitos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

.autorais {
    font: 300 16px 'Montserrat', serif;
}

.direito {
    font: 300 20px 'Montserrat', serif;
    margin-bottom: 10px;
}

footer {
    margin-top: 170px;
}