/* RESET */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: Nunito;
    src: url(Assets/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: Aleo;
    src: url(Assets/Aleo-Regular.ttf);
}

@font-face {
    font-family: Aleo-light;
    src: url(Assets/Aleo-Light.ttf);
}

/* FORMULÁRIO */
#main {
    margin: 35px;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 15px;
}

#titulo {
    font: 800 40px 'Nunito', sans-serif;
    margin: 0 35px;
}

.subtitulo {
    margin-bottom: 75px;
}

#subtitulo {
    font: 400 24px 'Nunito', sans-serif;
}

.formulario {
    margin-left: 45px;
}

label {
    font: 400 20px 'Nunito', sans-serif;
    width: 165px;
}

input, button {
    border-radius: 5px;
}

.campo input[type="text"] {
    display: flex;
    text-align: justify;
    width: 590px;
}

.campo {
    margin-bottom: 2.5em;
    display: flex;
}

.campo label {
    margin-bottom: 0.2em;
    color: #000;
    display: inline;
}

.campo input[type="text"] {
    padding: 0.2em;
    border: 1px solid rgba(0, 0, 0, 0.37);
}

.check {
    position: relative;
    right: 110px;
    display: flex;
    align-self: center;
    column-gap: 10px;
}

.textCheck {
    font: 300 14px 'Nunito', sans-serif;
}

.textInfo {
    font: 300 16px 'Nunito', sans-serif;
    margin-left: 150px;
}

.botao {
    margin-left: 455px;
    margin-top: 40px;
}

.Obotao {
    font-size: 1.2em;
    background: #7ED738;
    border: 0;
    margin-bottom: 1em;
    color: #000;
    padding: 8px 30px;
}

.div2 img{
    width: 250px;
    top: 400px;
    position: absolute;
    left: 980px;
}

#imagem{
    list-style-type: none;
}

.botaoJava{
    font-size: 1.2em;
    background: #7ED738;
    border: 0;
    margin-bottom: 1em;
    color: #000;
    padding: 8px 30px;
}

.div1{
    padding-left: 950px;
    position: absolute;
    top: 300px;
}



@media screen and (max-width: 400px) {

    #titulo{
        font-size: 24px;
    }

    .titulo img{
        width: 30px;
    }

    .seta{
        width: 40px;
    }

    #subtitulo{
        font-size: 16px;
    }

    .div1{
        width: 100%;
        padding-left: 50px;
        position: absolute;
        top: 770px;
    }

    label{
        font-size: 12px;
        width: 80px;
        position: absolute;
        left: 40px;
    }

    .campo input[type="text"] {
        width: 200px;
        left: 130px;
        position: absolute;
    }

    .check {
        position: relative;
        left: 150px;
        top: 4px;
        column-gap: 10px;
    }
    
    .textCheck {
        font: 300 12px 'Nunito', sans-serif;
        left: 20px;
        top: 0;
    }

    .textInfo{
        font-size: 12px;
        margin-left: 0px;
        width: 275px;
    }

    .Obotao {
        font-size: 14px;
        padding: 8px 15px;
        left: 170px;
        position: absolute;
    }

    .botaoJava{
        font-size: 12px;
        padding: 8px 15px;
        left: 80px;
        position: absolute;
    }

    .div2 img{
        width: 130px;
        height: 120px;
        top: 850px;
        position: absolute;
        left: 140px;
        bottom: 40px;
    }

    .formulario {
        margin-left: 0;
    }
  


}