* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Forum';
  src: url(fonts/Forum-Regular.ttf);
}

@font-face {
  font-family: 'Manrope';
  src: url(fonts/Manrope-VariableFont_wght.ttf);
}

img {
  width: 100%;
  height: auto;
}

.container {
  margin: 0 100px;
  display: flex;
}

#header .container {
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#main .container {
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.produto-linha {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}

input {
  font: 400 16px 'Montserrat';
  padding: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-right: 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  outline: none;
}

#carrinho-icon img {
  width: 60px;
  cursor: pointer;
}

#carrinho-icon {
  display: flex;
  align-items: flex-start;
  /* flex: 1; */
  justify-content: flex-end;
}

.tema{
  margin-left: 20px;
}

#header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 0;
  border-bottom: 5px solid #FFD233;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.212);
  z-index: 1000;
}

/* #header .logo {
  flex: 1;
} */

#header .logo img {
  width: 68px;
}

#buscar {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#buscar button {
  padding: 10px;
  background-color: #FB2673;
  color: #fff;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

#buscar i {
  font-size: 20px;
}

#cont-carrinho {
  background-color: #FB2673;
  color: #fff;
  padding: 5px 8px;
  border-radius: 50%;
  font: 600 14px 'Manrope', sans-serif;
}

.tema i {
  font-size: 30px;
}

.tema button{
  background-color: transparent;
}

/* ESTILOS PARA MODO ESCURO */

.modo-escuro {
  background-color: #262626;
  color: #fff;
}

.modo-escuro #header {
  background-color: #121212;
  border: none;
}

.modo-escuro #carrinho-itens {
  background-color: #000000;
}

.modo-escuro .titulo-carrinho {
  background-color: #FB2673;
}

.modo-escuro #preco-total {
  color: #ffffff;
}

.modo-escuro #itens-lista {
  list-style: none;
  padding: 0;
  color: white;
}



/* Main */
.comeco {
  padding: 90px 0;
}

.carrossel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#carrosselContainer {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  box-sizing: border-box;
}

#imagemCarrossel {
  width: 100%;
  height: auto;
}

.bolinhas {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bolinha {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.bolinha.ativa {
  background-color: #FB2673;
}





.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.produto {
  flex: 0 1 calc(30% - 20px);
  margin: 30px 15px;
  background-color: #fefefe;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 22px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  border: 1px solid rgb(189, 189, 189);
  position: relative;
}

.produto:hover {
  transform: translateY(-10px);
}

.produto .imagem img {
  margin-bottom: 15px;
  border-radius: 5px;
  width: 320px;
  height: 320px;

}

.produto h3 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
  font: 500 20px 'Montserrat', sans-serif;
}

.produto p {
  color: #616161;
  margin-bottom: 25px;
  font: 500 20px 'Montserrat', sans-serif;
}

.indicador {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 60px;
}

.produto button {
  padding: 10px 20px;
  background-color: #FB2673;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font: 500 16px 'Montserrat', sans-serif;
}

.produto button:hover {
  background-color: #FB2673;
}

/* Carrinho Itens */
#carrinho-itens {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: -30%;
  /* Inicialmente fora da tela */
  width: 40%;
  height: 100%;
  z-index: 10;
  overflow-y: auto;
  transition: right 0.3s ease;
  /* Adiciona uma transição suave para a propriedade right */
  text-align: center;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  flex-shrink: 0;
}

#carrinho-itens.aberto {
  right: 0;
  /* Quando a classe .aberto é aplicada, o carrinho é movido para a posição 0 na tela */
}

.titulo-carrinho h1 {
  font: 400 38px 'Forum', sans-serif;
}

.titulo-carrinho {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 14px 0;
  background-color: #FB2673;
  color: #ffffff;
}

.titulo-carrinho span {
  font-size: 35px;
  font-weight: 700;
  border-radius: 50%;
  padding: 0 11px;
  border: 3px solid rgb(255, 255, 255);
  box-sizing: border-box;
  cursor: pointer;
}

#preco-total {
  font: 500 4vh 'Montserrat', sans-serif;
  color: #000000;
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
}

.separar {
  font-weight: 600;
}

#carrinho-itens .limpa {
  background-color: #FB2673;
  padding: 12px 60px;
  border-radius: 30px;
  font: 600 16px 'Montserrat', sans-serif;
  color: #ffffff;
  margin: 30px 0 50px 0;
  cursor: pointer;
}

.baixo {
  margin-top: 30px;
}

/* ITENS LISTA */

#itens-lista {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 8px 30px;
}

.numero span {
  font: 700 18px 'Montserrat', sans-serif;
}

.produto-span{
  font: 500 19px 'Montserrat', sans-serif;
  text-align: left;
  margin-left: 30px;
}

.numero{
  border: 1px solid #ccc;
  padding: 2px 0;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.remove,
.add {
  background-color: transparent;
  color: #FB2673;
  border: none;
  cursor: pointer;
  /* margin: 0 35px; */
  font: 700 30px 'Montserrat', sans-serif;
}

.remove{
  margin-right: 35px;
  margin-left: 15px;
}

.add{
  margin-left: 35px;
  margin-right: 15px;
}

.preco-total {
  font: 400 20px 'Montserrat', sans-serif;
}

#preco-total,
.preco-total{
  margin-top: 30px;
}

.lado{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}

.produto-imagem {
  max-width: 150px; /* ajuste o tamanho conforme necessário */
  max-height: 150px; /* ajuste o tamanho conforme necessário */
}

.produto-e-nome{
  display: flex;
  align-items: center;
}

#mensagem-carrinho-vazio{
  border: 1px solid #a7a7a7;
  color: #a7a7a7;
  padding: 10px;
  margin: 0 130px;
  border-radius: 12px;
  font: 500 18px 'Manrope', sans-serif;
}

.theme-switch {
  --toggle-size: 12px;
  /* the size is adjusted using font-size,
     this is not transform scale,
     so you can choose any size */
  --container-width: 5.625em;
  --container-height: 2.5em;
  --container-radius: 6.25em;
  /* radius 0 - minecraft mode :) */
  --container-light-bg: #3D7EAE;
  --container-night-bg: #1D1F2C;
  --circle-container-diameter: 3.375em;
  --sun-moon-diameter: 2.125em;
  --sun-bg: #ECCA2F;
  --moon-bg: #C4C9D1;
  --spot-color: #959DB1;
  --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
  --stars-color: #fff;
  --clouds-color: #F3FDFF;
  --back-clouds-color: #AACADF;
  --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
  --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch, .theme-switch *, .theme-switch *::before, .theme-switch *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--toggle-size);
}

.theme-switch__container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--container-light-bg);
  border-radius: var(--container-radius);
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__container::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--container-radius)
}

.theme-switch__checkbox {
  display: none;
}

.theme-switch__circle-container {
  width: var(--circle-container-diameter);
  height: var(--circle-container-diameter);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: var(--circle-container-offset);
  top: var(--circle-container-offset);
  border-radius: var(--container-radius);
  -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  pointer-events: none;
}

.theme-switch__sun-moon-container {
  pointer-events: auto;
  position: relative;
  z-index: 2;
  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  margin: auto;
  border-radius: var(--container-radius);
  background-color: var(--sun-bg);
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
  -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  overflow: hidden;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.theme-switch__moon {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: var(--moon-bg);
  border-radius: inherit;
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__spot {
  position: absolute;
  top: 0.75em;
  left: 0.312em;
  width: 0.75em;
  height: 0.75em;
  border-radius: var(--container-radius);
  background-color: var(--spot-color);
  -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
  width: 0.375em;
  height: 0.375em;
  top: 0.937em;
  left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
  width: 0.25em;
  height: 0.25em;
  top: 0.312em;
  left: 0.812em;
}

.theme-switch__clouds {
  width: 1.25em;
  height: 1.25em;
  background-color: var(--clouds-color);
  border-radius: var(--container-radius);
  position: absolute;
  bottom: -0.625em;
  left: 0.312em;
  -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
  box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
  -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
  position: absolute;
  color: var(--stars-color);
  top: -100%;
  left: 0.312em;
  width: 2.75em;
  height: auto;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

/* actions */

.theme-switch__checkbox:checked + .theme-switch__container {
  background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
}

.theme-switch__circle-container:hover {
  left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
  bottom: -4.062em;
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}






@media (max-width: 768px) {
  #buscar {
    flex: 100%;
    order: 3;
    /* Altera a ordem para a terceira posição na coluna */
    margin: 20px 0 10px 0;
  }

  #carrinho-icon {
    order: 2;
    /* Altera a ordem para a segunda posição na coluna */
    justify-content: flex-end;
    /* Alinha o carrinho ao final da coluna */
  }

  #carrinho-itens {
    width: 100%;
  }


}