/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Forum';
    src: url(fonts/Forum-Regular.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(fonts/Manrope-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
}

/* CABEÇALHO */
#cabecalho {
    width: 100%;
    position: fixed;
    z-index: 11;
    background-color: #FFF;
}

#cabecalho .cabecalho_sombra {
    height: 5px;
    background-color: #FFD233;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.30);
}

.cabecalho_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px;
}

.navegacao {
    display: flex;
    align-items: center;
}

.cabecalho_nav_itens {
    margin-right: 30px;
}

.cabecalho_nav_item {
    font: 400 18px 'Montserrat', serif;
    color: #000;
    margin-right: 25px;
}

.cabecalho_nav_itens a:hover {
    color: #5d5d5d;
}

.cabecalho_nav_item_Doe {
    background-color: #FB2673;
    font: 400 17px 'Montserrat', serif;
    border-bottom: 10px;
    padding: 10px 30px;
    color: #FFF;
}

.geral {
    display: none;
}

.modal-tudo {
    display: none;
}

.idiomas {
    margin: 15px 20px 0 0;
}

/* IDIOMAS */
ul {
    list-style: none;
}

.a-teste {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 20px;
}

.a-teste:hover {
    background-color: rgba(255, 255, 255, 0);
}

.img-teste {
    display: block;
    padding: 0 20px;
}

.principal {
    background-color: rgba(0, 0, 255, 0);
    width: 90%;
    /* margin: auto; */
}

.li-p {
    line-height: 50px;
    float: left;
}

ul li ul li {
    background-color: #74747400;
    height: 50px;
}

.ul-imagens {
    display: none;
    padding-left: 2px;
    position: fixed;
    z-index: 100;
}

/* DEIXA ESSE CSS DE INGLÊS TAMBÉM MESMO QUE A PÁGINA SEJA EM PORTUGUES, SÓ MUDA NO HTML */

ul {
    list-style: none;
}

.a-teste2 {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 20px;
}

.a-teste2:hover {
    background-color: rgba(255, 255, 255, 0);
}

.img-teste2 {
    display: block;
    padding: 0 20px;
}

.principal2 {
    background-color: rgba(0, 0, 255, 0);
    width: 90%;
    /* margin: auto; */
}

.li-p2 {
    line-height: 50px;
    float: left;
}

ul li ul li {
    background-color: #74747400;
    height: 50px;
}

.ul-imagens2 {
    display: none;
    position: fixed;
    z-index: 100;
}

.a-teste img{
    width: 27px;
    transition: ease-in-out 0.3s;
}

.a-teste img:hover{
    transform: scale(0.8);
    transition: ease-in-out 0.3s;
}

/* TÉRMINO DO CABEÇALHO */

/* PARCEIROS E PATROCINADORES */
.conteudo_6 {
    padding: 70px;
    margin: 60px 0;
}

.slider-width {
    text-align: center;
}

.patroImg {
    margin: 10px;
}

.patroTitulo h2 {
    font: 400 28px 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
}

.patroTitulo span {
    font: 600 28px 'Montserrat', sans-serif;
}

.patro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* COMEÇO DA AGENDA */
#main {
    padding-top: 100px;
}

/* O QUE É */
.section .container {
    margin: 0 120px;
}

.titulo {
    text-align: center;
    margin-top: 80px;
}

h1 {
    font: 700 35px 'Montserrat', sans-serif;
}

h2 {
    font: 700 26px 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

p {
    font: 400 20px 'Monronpe', sans-serif;
    text-align: justify;
}

.oquee {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-oquee {
    margin-left: 13vw;
    text-align: center;
}

/* CIRCULO */
.imagem-circulo2030 {
    text-align: center;
    margin: 20px 0;
}

/* TEXTO SOBRE 2030 */
.textos-sobre2030 {
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: space-between;
    margin: 150px 0;
}

.texto-2030 {
    margin: 0 50px;
}



/* JOGO MEMÓRIA */

.texto-memoria {
    z-index: 1;
    position: absolute;
    text-align: center;
}

.jogoMemoria {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

h3 {
    color: #FFF;
}

.textMemoria {
    font: 800 50px 'Montserrat', sans-serif;
    margin: 10px 0;
}

.text2Memoria {
    font: 800 40px 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.jogoMemoria a {
    font: 400 23px 'Montserrat', sans-serif;
    color: #FFF;
    background-color: #1F9B6E;
    padding: 5px 60px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* CONTAGEM REGRESSIVA 2030 */


/* RODAPÉ */
#contato {
    background: rgba(255, 228, 133, 0.74);
    padding: 73px 0;
    padding-bottom: 15px;
}

#contato .conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.rodapeCima {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.rodape-lado1 {
    display: flex;
    flex-direction: column;
    margin: 0 70px;
}

.logoRodape {
    margin-left: 135px;
}

.redes {
    margin: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}

.icone {
    width: 55px;
    padding: 9px;
}

.icone:hover {
    width: 62px;
    transition: 0.5s;
    filter: brightness(50%);
}

.texto-rodape {
    font: 400 20px 'Montserrat', sans-serif;
}

.rodapeTexto {
    text-align: justify;
    width: 33rem;
}

.enderecoTexto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-right: 15px;
}

.iconMaps {
    margin-right: 20px;
}

.textoMaps {
    font: 400 20px 'Montserrat', sans-serif;
}

.rodape-lado2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 70px;
}

.logoRodape img {
    width: 170px;
}

.menina img {
    width: 180px;
}

.imgMaps img {
    width: 380px;
    border-radius: 10px;
}

.imgMaps {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.direitos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

.autorais {
    font: 300 2vh 'Montserrat', serif;
    margin-bottom: 5px;
}

.direito {
    font: 300 2.5vh 'Montserrat', serif;
    margin-bottom: 10px;
}