*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    position: relative;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: Nunito;
    src: url(Assets/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: Aleo;
    src: url(Assets/Aleo-Regular.ttf);
}

@font-face {
    font-family: Aleo-light;
    src: url(Assets/Aleo-Light.ttf);
}

/* CABEÇALHO */
#cabecalho {
    margin: 0 35px;
} 

.cabecalho_sombra {
    height: 16px;
    background-color: #FFD233;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_nav_itens {
    margin-left: 140px;
}

.cabecalho_nav_item{
    margin: 20px;
    background: #FFD233;
    font: 400 20px 'Aleo', serif;
    border-radius: 10px;
    padding: 7px 15px;
    color: #000;
}

.cabecalho_nav_item_Doe{
    background-color: #FB2673;
    font: 400 20px 'Aleo', serif;
    border-bottom: 10px;
    padding: 10px 30px;
    color: #FFF;
}


#main{
    margin: 0;
}

.titulo{
    font: 800 40px 'Nunito', sans-serif;
    text-align: center;
    margin-top: 110px;
    color: #000;
}

.textoComeco{
    color: #000;
    /* position: relative; */
    font: 400 20px 'Nunito', sans-serif;
    width: 755px;
    height: 90px;
    margin-left: calc(50% - 755px/2 + 0.5px);
    text-align: center;
    top: 60px;
}

.textoComeco2{
    color: #000;
    /* position: relative; */
    font: 400 20px 'Nunito', sans-serif;
    width: 824px;
    height: 60px;
    left: calc(50% - 824px/2);
    text-align: center;
    top: 100px;
}

.objetivos{
    /* position: relative; */
    width: 446px;
    height: 48px;
    left: calc(50% - 446px/2);
    top: 140px;
}

.ondas{
    background-image: url(img/OndaRosa.png);
    top: 160px;
    background-size: 100%;
}

.retangulo{
    background-color: rgba(254, 199, 219, 0.3);
    top: 160px;
    height: 380px;

}

.certificadosTitulo{
    color: #000;
    font: 700 36px 'Nunito', sans-serif;
    text-align: center;
    top: 20px;
}

.divisao{
    top: 110px;
    text-align: center;
}

.Certificados{
    padding: 0 20px;
}

.linha{
    height: 10px;
    background-color: #FFBCD4;
    margin: 160px 0;
}

html{
    scroll-behavior: smooth;
}

#projetos{
    text-align: center;
}





/* RODAPÉ */
#contato {
    background: rgba(255, 228, 133, 0.74);
    padding: 73px;
    padding-bottom: 15px;
}

#contato .conteiner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logoRodape {
    margin-left: 135px;
}

.redes {
    margin: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}

.icone {
    width: 55px;
    padding: 9px;
}

.icone:hover {
    width: 62px;
    transition: 0.5s;
    filter: brightness(50%);
}

.texto-rodape {
    font: 400 20px 'Nunito', sans-serif;
}

.rodapeTexto {
    margin: 80px 110px 0 0;
    text-align: justify;
    width: 540px;
}

.enderecoTexto {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.iconMaps {
    margin-right: 20px;
}

.textoMaps {
    font: 400 20px 'Nunito', sans-serif;
}

.imgMaps {
    margin: 0 90px 100px 45px;
}

.direitos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 120px;
}

.autorais {
    font: 300 16px 'Aleo-light', serif;
}

.direito {
    font: 300 20px 'Aleo-light', serif;
    margin-top: 10px;
}

/* HOVER */

/* #projetos .quadros{
    margin: 100px;
} */

/* #projetos .user{
    width: 100px;
} */

/* #projetos .imagens1{
    position: absolute;
    left: 150px;
    top: 50px;

    
}

#projetos .quadros:hover .imagens1 {
    display: flex;
} */


#projetos .imagens{
    padding: 30px 40px 0px 40px;
    
}


#projetos .divisaoImagens{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
    /* padding: 0 20px; */
    margin-right: 0;
    top: 0px;
    
}

.imagens1{
    position: absolute;
    left: 36px;
    display: none;
    z-index: 99;
    top: 0px;
}

.imagens2{
    position: absolute;
    left: 95px;
    display: none;
    z-index: 99;
}

.imagens3{
    position: absolute;
    left: 95px;
    display: none;
    z-index: 99;
}

.imagens4, .imagens5{
    position: absolute;
    left: 150px;
    display: none;
    z-index: 99;
}

.imagens6{
    position: absolute;
    left: 35.5px;
    display: none;
    z-index: 99;
}

.imagens7{
    position: absolute;
    left: 35.5px;
    display: none;
    z-index: 99;
}

.imagens8{
    position: absolute;
    left: 150px;
    display: none;
    z-index: 99;
}

.imagens9{
    position: absolute;
    left: 35.5px;
    display: none;
    z-index: 99;
}

.quadros:hover .imagens1{
    display: flex;
}

.quadros:hover .imagens2{
    display: flex;
}

.quadros:hover .imagens3{
    display: flex;
}

.quadros:hover .imagens4{
    display: flex;
}

.quadros:hover .imagens5{
    display: flex;
}

.quadros:hover .imagens6{
    display: flex;
}

.quadros:hover .imagens7{
    display: flex;
}

.quadros:hover .imagens8{
    display: flex;
}

.quadros:hover .imagens9{
    display: flex;
}

.user{
    padding: 0 5px;
}

#projetos .retanguloProjeto1{
    background-color: #ffffff;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    top: 480px;
    z-index: 99;
    left: 190px;
}

#projetos .retanguloProjeto2{
    background-color: #ffffff;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    top: 430px;
    z-index: 99;
    left: 610px;
}

#projetos .retanguloProjeto3{
    background-color: #ffffff;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    top: 380px;
    z-index: 99;
    left: 1025px;
}

#projetos .retanguloProjeto4{
    background-color: #ffffff;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    top: 480px;
    z-index: 99;
    left: 190px;
}

#projetos .retanguloProjeto5{
    background-color: #ffffff;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    top: 430px;
    z-index: 99;
    left: 610px;
}

#projetos .retanguloProjeto6{
    background-color: #ffffff;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    top: 380px;
    z-index: 99;
    left: 1025px;
}

#projetos .retanguloProjeto7{
    background-color: #ffffff;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    top: 470px;
    z-index: 99;
    left: 190px;
}

#projetos .retanguloProjeto8{
    background-color: #ffffff;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    top: 380px;
    z-index: 99;
    left: 1025px;
}

#projetos .retanguloProjeto9{
    background-color: #ffffff;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    top: 380px;
    z-index: 99;
    left: 1025px;
}

.tituloQuadrado{
    font: 700 24px 'Nunito', sans-serif;
    top: 10px;
}