*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    position: relative;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: Nunito;
    src: url(Assets/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: Aleo;
    src: url(Assets/Aleo-Regular.ttf);
}

@font-face {
    font-family: Aleo-light;
    src: url(Assets/Aleo-Light.ttf);
}

/* CABEÇALHO */
#cabecalho {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #FFF;
}

#cabecalho .cabecalho_sombra {
    height: 16px;
    background-color: #FFD233;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho_nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cabecalho_nav_itens {
    margin-left: 100px;
}

.cabecalho_nav_item{
    margin: 20px;
    background: #FFD233;
    font: 400 17px 'Aleo', serif;
    border-radius: 10px;
    padding: 9px 18px;
    color: #000;
}

.cabecalho_nav_item_Doe{
    background-color: #FB2673;
    font: 400 17px 'Aleo', serif;
    border-bottom: 10px;
    padding: 10px 30px;
    color: #FFF;
}

.idiomas{
    top: 8px;
}


/* PARA PÁGINAS EM PORTUGUÊS */

ul{
    list-style: none;
}

.a-teste{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 20px;
}

.a-teste:hover{
    background-color: rgba(255, 255, 255, 0);
}

.img-teste{
    display: block;
    padding: 0 20px;
}

.principal{
    background-color: rgba(0, 0, 255, 0);
    width: 90%;
    /* margin: auto; */
}

.li-p{
    line-height: 50px;
    float: left;
}

ul li ul li{
    background-color: #74747400;
    height: 50px;
}

.ul-imagens{
    display: none;
    padding-left: 2px;
    position: fixed;
    z-index: 100;
}

/* DEIXA ESSE CSS DE INGLÊS TAMBÉM MESMO QUE A PÁGINA SEJA EM PORTUGUES, SÓ MUDA NO HTML */

ul{
    list-style: none;
}

.a-teste2{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 20px;
}

.a-teste2:hover{
    background-color: rgba(255, 255, 255, 0);
}

.img-teste2{
    display: block;
    padding: 0 20px;
}

.principal2{
    background-color: rgba(0, 0, 255, 0);
    width: 90%;
    /* margin: auto; */
}

.li-p2{
    line-height: 50px;
    float: left;
}

ul li ul li{
    background-color: #74747400;
    height: 50px;
}

.ul-imagens2{
    display: none;
    padding-left: 2px;
    position: fixed;
    z-index: 100;
}

#main{
    padding-top: 100px;
}

/* COMEÇO */
#comeco .imagemFundo{
    width: 100%;
    position: relative;
}

#comeco .circular{
    position: absolute;
    left: 1020px;
    top: 180px;
}

#comeco .retanguloNome{
    position: absolute;
    border-radius: 15px;
    background-color: #FFF;
    padding: 2px 40px;
    left: 170px;
    top: 290px;
}

#comeco .titulo{
    font: 800 40px 'Nunito', sans-serif;
    text-align: center;
    margin-top: 8px;
    color: #000;
}

#comeco .seta{
    margin: 30px 0 0 50px;
}

/* INTRODUÇÃO */

#introducao .texto1, .texto2, .textoLivro, .texto2Cultura, .texto2Jogoteca, .texto2Ferias, .texto2Leitor, .texto2Musica, .texto2Ecobanda, .texto2MelhorIdade, .texto2Aventura{
    font: 400 20px 'Nunito', sans-serif;
}

#introducao .texto1{
    width: 863px;
    height: 70px;
    left: calc(50% - 863px/2 - 146.5px);
    line-height: 35px;
}

#introducao .texto2{
    width: 1149px;
    height: 105px;
    left: calc(50% - 1149px/2 - 3.5px);
    top: 20px;
    line-height: 35px;
}

#introducao .textoLivro{
    width: 1149px;
    height: 105px;
    left: calc(50% - 1149px/2 - 3.5px);
    top: 90px;
    line-height: 35px;
}

#introducao .linha{
    width: 1203.2px;
    height: 1px;
    background-color: #FB2673;
    background: linear-gradient(to right, #FB2673, #0000001c);
    top: 110px;
    left: 145px;
}

#estrutura .saibaMais{
    color: #4E94D3;
    font: 400 20px 'Nunito', sans-serif ;
    top: 90px;
    padding-left: 500px;
}

#estrutura .estruturaTexto{
    width: 841px;
    height: 350px;
    left: 500px;
    font: 400 20px 'Nunito', sans-serif ;
    line-height: 35px;
    text-align: justify;
    top: 80px;
}

#estrutura .figura{
    position: absolute;
    width: 269px;
    height: 307px;
    left: 150px;
    top: 85px;
}

#outros .retanguloOutros{
    width: 100%;
    height: 550px;
    top: 220px;
    background-color: #FFF8DD;
    position: relative;
    justify-items: center;
    text-align: center;
}

#outros .titulo{
    position: absolute;
    font: 800 36px 'Nunito', sans-serif;
    text-align: center;
    margin-top: 80px;
    color: #000;
    left: 540px;
}

.coracao{
    position: absolute;
    width: 52px;
    height: 48px;
    left: 970px;
    top: 50px;
}

#outros .textoCaixas{
    font: 400 24px 'Nunito', sans-serif;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 0 20px;
    padding: 0 20px;
}

#outros .textoCaixas:hover{
    border-radius: 10px;
    background-color: #FFD233;
}

#outros .Pintado{
    border-radius: 10px;
    background-color: #FFD233;
    padding: 2px 15px;
    font: 400 24px 'Nunito', sans-serif;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 0 20px;
}

#outros .caixas1{
    display: flex;
    top: 200px;
    padding: 30px;
    justify-content: center;
}

#outros .caixas2{
    display: flex;
    top: 200px;
    padding: 30px;
    justify-content: center;
}

#outros .caixas3{
    display: flex;
    top: 200px;
    padding: 30px;
    justify-content: center;}

#sugestao .retanguloSugestao{
    position: absolute;
    width: 894px;
    height: 616px;
    left: calc(50% - 894px/2);
    top: 400px;
    background: #DEFFC4;
    border-radius: 20px;
}

#sugestao .titulo{
    font: 800 40px 'Nunito', sans-serif;
    margin-top: 60px;
    color: #000;
    left: 70px;
}


#sugestao .obrigatorio{
    font: 400 20px 'Aleo', sans-serif;
    left: 65px;
    top: 10px;
}

.nome{
    width: 360px;
    height: 44px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    left: 65px;
    top: 80px;
    padding-left: 10px;
}

#sugestao .email{
    width: 360px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    left: 95px;
    top: 80px;
    padding-left: 10px;
}


#sugestao .campoSugestao{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    left: 65px;
    top: 130px;
    height: 158px;
    width: 774px;
    padding-left: 10px;
}


::placeholder{
    font: 400 20px 'Aleo', sans-serif;
    padding-left: 20px;
}

#sugestao .salva{
    top: 250px;
    right: 700px;
    width: 14px;
    height: 14px;
}

#sugestao .salvar{
    position: absolute;
    top: 358px;
    left: 110px;
    font: 200 20px 'Nunito', sans-serif;
    color: #000;
}

button{
    border: 1px solid #000000;
    border-radius: 5px;
    height: 31px;
    width: 105px;
    background-color: #00000000;
    top: 220px;
    left: 395px;
}

button:hover{
    background-color: #FFF;
}

/* RODAPÉ */
#contato {
    background: rgba(255, 228, 133, 0.74);
    padding: 73px;
    padding-bottom: 15px;
    margin-top: 1200px;
}

#contato .conteiner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logoRodape {
    margin-left: 135px;
}

.redes {
    margin: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}

.icone {
    width: 55px;
    padding: 9px;
}

.icone:hover {
    width: 62px;
    transition: 0.5s;
    filter: brightness(50%);
}

.texto-rodape {
    font: 400 20px 'Nunito', sans-serif;
}

.rodapeTexto {
    margin: 80px 110px 0 0;
    text-align: justify;
    width: 540px;
}

.enderecoTexto {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 25px;
    margin-right: 15px;
}

.iconMaps {
    margin-right: 20px;
}

.textoMaps {
    font: 400 20px 'Nunito', sans-serif;
}

.rodape-lado2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logotipoRodape {
    width: 200px;
}

.maps {
    border-radius: 10px;
}

.imgMaps {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.direitos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 120px;
}

.autorais {
    font: 300 16px 'Aleo-light', serif;
}

.direito {
    font: 300 20px 'Aleo-light', serif;
    margin-top: 10px;
}


/* FUTEBOL*/

#estrutura .Futebol{
    display: flex;
    align-items: center;
}

#estrutura .figuraFutebol{
    position: absolute;
    width: 282px;
    height: 283px;
    left: 150px;
    top: 115px;
}

#introducao .texto2Cultura{
    width: 1149px;
    height: 105px;
    left: calc(50% - 1149px/2 - 3.5px);
    top: 70px;
    line-height: 35px;
}

/* CULTURA */

#estrutura .estruturaTextoCultura{
    width: 841px;
    height: 350px;
    left: 500px;
    font: 400 20px 'Nunito', sans-serif ;
    line-height: 35px;
    text-align: justify;
    top: 120px;
}

/* JOGOTECA */
#introducao .texto2Jogoteca{
    width: 1149px;
    height: 105px;
    left: calc(50% - 1149px/2 - 3.5px);
    top: 50px;
    line-height: 35px;
}

/* FERIAS */
#introducao .texto2Ferias{
    width: 1149px;
    height: 105px;
    left: calc(50% - 1149px/2 - 3.5px);
    top: 70px;
    line-height: 35px;
}
#estrutura .estruturaTextoFerias{
    width: 841px;
    height: 350px;
    left: 500px;
    font: 400 20px 'Nunito', sans-serif ;
    line-height: 35px;
    text-align: justify;
    top: 110px;
}

/* ORIGAMI */
#estrutura .estruturaTextoOrigami{
    width: 841px;
    height: 350px;
    left: 500px;
    font: 400 20px 'Nunito', sans-serif ;
    line-height: 35px;
    text-align: justify;
    top: 140px;
}

/* LEITOR */
#introducao .texto2Leitor{
    width: 1149px;
    height: 105px;
    left: calc(50% - 1149px/2 - 3.5px);
    top: 55px;
    line-height: 35px;
}

#estrutura .estruturaTextoLeitor{
    width: 841px;
    height: 350px;
    left: 500px;
    font: 400 20px 'Nunito', sans-serif ;
    line-height: 35px;
    text-align: justify;
    top: 180px;
}

/* MÚSICA CLÁSSICA */
#introducao .texto2Musica{
    width: 1149px;
    height: 105px;
    left: calc(50% - 1149px/2 - 3.5px);
    top: 80px;
    line-height: 35px;
}

#estrutura .estruturaTextoMusica{
    width: 841px;
    height: 350px;
    left: 500px;
    font: 400 20px 'Nunito', sans-serif ;
    line-height: 35px;
    text-align: justify;
    top: 150px;
}

/* ECOBANDA */
#introducao .texto2Ecobanda{
    width: 1149px;
    height: 105px;
    left: calc(50% - 1149px/2 - 3.5px);
    top: 80px;
    line-height: 35px;
}

#estrutura .estruturaTextoEcobanda{
    width: 841px;
    height: 350px;
    left: 500px;
    font: 400 20px 'Nunito', sans-serif ;
    line-height: 35px;
    text-align: justify;
    top: 120px;
}

/* MELHOR IDADE */
#introducao .texto2MelhorIdade{
    width: 1149px;
    height: 105px;
    left: calc(50% - 1149px/2 - 3.5px);
    top: 80px;
    line-height: 35px;
}

#estrutura .estruturaTextoMelhor{
    width: 841px;
    height: 350px;
    left: 500px;
    font: 400 20px 'Nunito', sans-serif ;
    line-height: 35px;
    text-align: justify;
    top: 110px;
}

/* AVENTURA */
#introducao .texto2Aventura{
    width: 1149px;
    height: 105px;
    left: calc(50% - 1149px/2 - 3.5px);
    top: 70px;
    line-height: 35px;
}

html{
    scroll-behavior: smooth;
}

.geral{
    display: none;
}




@media screen and (max-width: 400px) {


    /* CABEÇALHO */

    #cabecalho{
        width: 100%;
    }

    #cabecalho nav.cabecalho_nav{
        width: 100%;
    }

    #cabecalho .cabecalho_sombra {
        height: 16px;
        background-color: #FFD233;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
    }

    .libra{
        display: none;
    }

    .geral {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 50px;
        display: flex;
        left: 30px;
    }

    .geral:hover .cabecalho_nav_item {
        color: rgb(255, 255, 255);
        display: flex;
    }

    .cabecalho_nav_item {
        display: none;
        flex-direction: column;
        position: fixed;
        z-index: 1000;
        left: 270px;
        top: 40px;
    }

    a {
        text-align: center;
        font-family: 'Aleo', sans-serif;
        font-size: 10px;
        color: rgb(0, 0, 0);
        padding-top: 6px;
    }

    a:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }

    .cabecalho_nav_itens {
        display: none;
    }

    #cabecalho .imagem{
        right: 60px;
    }

    .cabecalho_Logo{
        width: 120px;
    }

    .cabecalho_nav_item_Doe{
        display: none;
    }

    .idiomas{
        right: 250px;
        top: 12px;
    }

    /* TÉRMINO DO CABEÇALHO */

    .imagemFundo{
        height: 100px;
        width: 400px;
    }

    #comeco .circular{
        position: absolute;
        left: 240px;
        top: 50px;
        width: 130px;
    }

    .seta{
        width: 40px;
    }

    #introducao .texto1, .texto2, .textoLivro, .texto2Cultura, .texto2Jogoteca, .texto2Ferias, .texto2Leitor, .texto2Musica, .texto2Ecobanda, .texto2MelhorIdade, .texto2Aventura{
        font: 400 12px 'Nunito', sans-serif;
    }

    #introducao .texto1{
        top: 18px;
        width: 330px;
        left: 32px;
        line-height: 20px;
        text-align: justify;
    }

    #comeco .retanguloNome{
        position: absolute;
        border-radius: 10px;
        background-color: #FFF;
        padding: 2px 30px;
        left: 40px;
        top: 80px;
        height: 30px;
        width: 150px;
    }
    
    #comeco .titulo{
        font: 800 20px 'Nunito', sans-serif;
        text-align: center;
        margin-top: 0px;
        color: #000;
    }

    #introducao .texto2{
        top: 30px;
        width: 330px;
        left: 32px;
        line-height: 20px;
        text-align: justify;
    }

    #introducao .linha{
        width: 330px;
        top: 70px;
        left: 32px;
    }

    #estrutura .figura{
        position: absolute;
        width: 100px;
        height: 100px;
        left: 150px;
        top: 0px;
    }

    #estrutura .estruturaTexto{
        width: 330px;
        left: 35px;
        font: 400 12px 'Nunito', sans-serif ;
        line-height: 20px;
        text-align: justify;
        top: 120px;
    }

    #outros .retanguloOutros{
        height: 410px;
        top: 130px;
    }
    
    #outros .titulo{
        font: 800 20px 'Nunito', sans-serif;
        margin-top: 60px;
        left: 80px;
    }
    
    .coracao{
        width: 32px;
        height: 27px;
        left: 310px;
        top: 40px;
    }
    
    #outros .textoCaixas{
        font: 400 12px 'Nunito', sans-serif;
        line-height: 15px;
        margin: 0 6px;
        padding: 0 20px;
    }
    
    #outros .Pintado{
        border-radius: 10px;
        background-color: #FFD233;
        padding: 2px 15px;
        font: 400 12px 'Nunito', sans-serif;
        line-height: 15px;
        margin: 0 20px;
    }
    
    #outros .caixas1{
        top: 120px;
        padding: 20px;
    }
    
    #outros .caixas2{
        top: 120px;
        padding: 20px;
    }
    
    #outros .caixas3{
        top: 120px;
        padding: 20px;
    }

    #sugestao .retanguloSugestao{
        position: absolute;
        width: 300px;
        height: 400px;
        left: 50px;
        top: 200px;
    }
    
    #sugestao .titulo{
        font: 800 20px 'Nunito', sans-serif;
        margin-top: 40px;
        left: 55px;
    }
    
    #sugestao .obrigatorio{
        font: 400 12px 'Aleo', sans-serif;
        left: 53px;
    }
    
    .nome{
        width: 250px;
        height: 25px;
        border-radius: 10px;
        left: 25px;
        top: 50px;
    }
    
    #sugestao .email{
        width: 250px;
        height: 25px;
        border-radius: 10px;
        left: 25px;
        top: 75px;
    }
    
    
    #sugestao .campoSugestao{
        width: 250px;
        height: 60px;
        border-radius: 10px;
        left: 25px;
        top: 90px;
    }
    
    ::placeholder{
        font: 400 12px 'Aleo', sans-serif;
        padding-left: 15px;
    }
    
    #sugestao .salva{
        top: 148px;
        right: 225px;
        width: 10px;
        height: 10px;
    }
    
    #sugestao .salvar{
        top: 220px;
        left: 50px;
        font: 200 12px 'Nunito', sans-serif;
        width: 220px;
    }

    button{
        border: 1px solid #000000;
        border-radius: 5px;
        height: 20px;
        width: 80px;
        background-color: #00000000;
        top: 170px;
        left: 110px;
    }
    

    /* RODAPÉ */
#contato {
    margin-top: 700px;
    width: 400px;
}

.logoRodape {
    margin-left: 15px;
    width: 100px;
}

.menina{
    width: 120px;
    left: 30px;
}

.redes {
    margin: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    right: 50px;
}

.icone {
    width: 40px;
    padding: 9px;
    padding-left: 3px;
}

.icone:hover {
    width: 60px;
    transition: 0.5s;
    filter: brightness(50%);
}

.texto-rodape {
    font: 400 12px 'Nunito', sans-serif;
    right: 25px;
    width: 300px;
}

.logotipoRodape {
    width: 120px;
}

.rodapeTexto{
    width: 100%;
}

.enderecoTexto {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 25px;
    margin-right: 50px;
    width: 100%;
}

.endereco{
    top: 30px;
}

.iconMaps {
    right: 25px;
    width: 30px;
}

.textoMaps {
    font: 400 12px 'Nunito', sans-serif;
    right: 30px;
    width: 100%;
}

.rodape-lado1{
    width: 100%;
}

.rodape-lado2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.maps{
    border-radius: 10px;
    width: 200px;
    /* right: 170px; */
}

.a-maps{
    right: 170px;
}

.amigoSurdo{
    width: 320px;
    right: 30px;
}

.direitos {
    width: 100%;
    margin-top: 90px;
}

.autorais {
    font: 400 10px 'Aleo-light', serif;
    width: 290px;
}

.direito {
    font: 300 14px 'Aleo-light', serif;
    margin-top: 15px;
    width: 300px;
    text-align: center;
}


/* TERMINO DO RODAPÉ */

}