/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Forum';
    src: url(fonts/Forum-Regular.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(fonts/Manrope-VariableFont_wght.ttf);
}

/* button{
    border-radius: 50% ;
    width: 55px;
    height: 55px;

} */

.imagem {
    width: 683px;
    height: 776px;
    background-color: wheat;
    align-items: center;
    justify-content: center;
    display: flex;
}

.tudo {
    display: flex;
    justify-content: space-between;
    
}
.contato-Form{
    margin-top: 20vh;
    margin: -20vw;
}

input {
    display: flex;
    width: 500px;
    height: 30px;
    margin-bottom: 20px;
    background-color: #7b52b900;
    border: 0 none;
    border-bottom: 2px solid rgba(224, 224, 224, 1);
    outline: 0;
    text-align: left;
}