*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}




@font-face {
    font-family: 'UnbRegular';
    src: url(fonts/Unbounded-Regular.ttf);
}

@font-face {
    font-family: 'UnbBold';
    src: url(fonts/Unbounded-Bold.ttf);
}

@font-face {
    font-family: 'OpenBold';
    src: url(fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenRegular';
    src: url(fonts/OpenSans-Regular.ttf);
}

.cabecalho{
    background-color: white;
    border-bottom: 2px solid rgb(161, 161, 161);

}


/* #main{
    background: linear-gradient(to right, white 20%,rgb(120, 4, 4) 80%);
    background-size: 300% 300%;
    animation: colors 20s ease infinite;
} */

@keyframes colors {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 50% 100%;
    }

    100%{
        background-position: 0% 50%;
    }
}
.pagina-principal a {
margin-left: 305px;
color: black;
margin-top: 10px                                        ;
}
h1{
    font:32px 'UnbRegular', sans-serif;
    padding: 0px 0 0 215px;
}


.texto{
    font:22px 'OpenRegular', sans-serif;
    letter-spacing: 1.5px;
    padding: 20px 120px 0 150px;
    text-align: center;
}

.conteudo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.conteudo button{
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #c49190;
    font:18px 'OpenRegular', sans-serif;
    color: rgb(247, 246, 246);
    margin: 30px 0 0 368px;
    cursor: pointer;
margin-left: 350px;
}

.equipe img {
    width: 500px;
    height: auto;
    margin-left: 100px;
    margin-top: 100px;
}
.equipe{
   background-color: #eddfdc;
    width: 2000px;
    height: 750px;
}

#body2{
    background-color: #eddfdc;
}

.app{
    background-color: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 60px;
    border-radius: 10px;
    padding: 30px;
}

.app h1{
    padding: 0;
    color: #c49190;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz h2{
    font: 500 22px 'OpenBold', sans-serif;
    color: #000000;
    padding-bottom: 18px;
}

.quiz{
    padding: 20px 0;
}

.btn{
    background: #fff;
    color: #222;
    font: 500 20px 'OpenRegular', sans-serif;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #c49190;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #c49190;
    color: white;
    font: 500 20px 'OpenRegular', sans-serif;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correto{
    background: #9aeabc;
}

.incorreto{
    background: #ff9393;
}

.imagem-pergunta {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.comeco{
    background-color: #f9f9f9;
    /* color: white; */
    width: 100%;
    position: fixed;
    padding: 0;
    box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.433);
}

#pontuacao{
    font: 500 22px 'UnbRegular', sans-serif;
    text-align: center;
    padding: 20px 0;
}

#segundoMain{
    padding-top: 80px;
    padding-bottom: 60px;
}

.fa-solid{
    padding-right: 7px;
}

.red{
    background-color: #ff4141;
}

.blue{
    background-color: #7d7dff;
}

.green{
    background-color: #56ff56;
}

.yellow{
    background-color: #ddda32;
}