/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Forum';
    src: url(fonts/Forum-Regular.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(fonts/Manrope-VariableFont_wght.ttf);
}

html {
    scroll-behavior: smooth;
}

/* CABEÇALHO */
#cabecalho {
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #FFF;
}

#cabecalho .cabecalho_sombra {
    height: 5px;
    background-color: #FFD233;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.30);
}

.cabecalho_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px;
}

.navegacao {
    display: flex;
    align-items: center;
}

.cabecalho_nav_itens {
    margin-right: 30px;
}

.cabecalho_nav_item {
    font: 400 18px 'Montserrat', serif;
    color: #000;
    margin-right: 25px;
}

.cabecalho_nav_itens a:hover{
    color: #5d5d5d;
}

.cabecalho_nav_item_Doe {
    background-color: #FB2673;
    font: 400 17px 'Montserrat', serif;
    border-bottom: 10px;
    padding: 10px 30px;
    color: #FFF;
}

.idiomas {
    margin: 15px 20px 0 0;
}

/* IDIOMAS */
ul {
    list-style: none;
}

.a-teste {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 20px;
}

.a-teste:hover {
    background-color: rgba(255, 255, 255, 0);
}

.img-teste {
    display: block;
    padding: 0 20px;
}

.principal {
    background-color: rgba(0, 0, 255, 0);
    width: 90%;
    /* margin: auto; */
}

.li-p {
    line-height: 50px;
    float: left;
}

ul li ul li {
    background-color: #74747400;
    height: 50px;
}

.ul-imagens {
    display: none;
    padding-left: 2px;
    position: fixed;
    z-index: 100;
}

/* DEIXA ESSE CSS DE INGLÊS TAMBÉM MESMO QUE A PÁGINA SEJA EM PORTUGUES, SÓ MUDA NO HTML */

ul {
    list-style: none;
}

.a-teste2 {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 20px;
}

.a-teste2:hover {
    background-color: rgba(255, 255, 255, 0);
}

.img-teste2 {
    display: block;
    padding: 0 20px;
}

.principal2 {
    background-color: rgba(0, 0, 255, 0);
    width: 90%;
    /* margin: auto; */
}

.li-p2 {
    line-height: 50px;
    float: left;
}

ul li ul li {
    background-color: #74747400;
    height: 50px;
}

.ul-imagens2 {
    display: none;
    padding-left: 2px;
    position: fixed;
    z-index: 100;
}
.mundo {
    width: 100%;
    height: auto;
    left: 0px;
    padding-top: 4  x0px;
}


.quem {
    font: 300 30px 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 100px;
}
.preto{
    font: 500 30px 'Montserrat', sans-serif;
}
.azul{
    font: 700 30px 'Montserrat', sans-serif;
    color: #26B2F4;
}
.historia-sobre{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.obj{
    background-color: #fff;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    font: 400 20px 'Montserrat', sans-serif;
    margin-top: 80px;
 border: 1px solid;
}
.obj:hover{
    background-color: #EFFAFF;
    border: 1px solid #26B2F4;  
}
.histo{
    background-color: #FFF;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    font: 400 20px 'Montserrat', sans-serif;
    margin-top: 80px;
    border: 1px solid;
}
.histo:hover{
    background-color: #EFFAFF;
    border: 1px solid #26B2F4;  
}
.emprefeliz{
    background-color: #FFF;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    font: 400 20px 'Montserrat', sans-serif;
    margin-top: 80px;
    border: 1px solid;
}
.emprefeliz:hover{
    background-color: #EFFAFF;
    border: 1px solid #26B2F4;  
}
.governanca{
    background-color: #FFF;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    font: 400 20px 'Montserrat', sans-serif;
    margin-top: 80px;
    border: 1px solid;
}
.governanca:hover{
    background-color: #EFFAFF;
    border: 1px solid #26B2F4;  
}

/*objetivo*/
.colaborador{
    background-color: #C8E9FF;
    padding: 30px 30px 30px 30px;
    width: 800px;
    height: 260px;
  text-align: center;
  
    margin-top: 100px;
   font:400 15px 'Manrope', sans-serif;
}
.colaborador-azul{
    text-align: center;
    align-items: center;
    justify-content: center;

    display: flex;
}
.venha{
    text-align: center;
    margin-top: 10px;
    font: 600 15px 'Manrope', sans-serif;
    
}

.prof{
    font: 500 15px 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 10px;
    color: black;
}

.maos{
    margin-left: 700px;
    margin-top: -30px;
}

#flecha{
    margin-top: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}
.obj2{
    color:#FB2673;
    font:  'Montserrat', sans-serif;
    text-align: center;
}

.texto{
    margin-top: 70px;
    text-align: center;
    font: 400 20px 'Manrope', sans-serif;
}
/*FIM OBJ*/

/*HISTÓRIA*/
.historia-retangulo{
 
    background-color: #FFF6D5;
    padding: 30px 30px 30px 30px;
    width: 100;
    height: 1500px;
    margin-top: 150px;
   
}

.retangulo{
    margin-top: 100px;
   text-align: center;
}
.titulo1{
    text-align: center;
    align-items: center;
   
}

.img1, .texto1, .img2, .texto2{
   
    margin-left: 150px;
    margin-top: 100px;
    margin-bottom: 17px;
   
}
.im1{
    width: 350px;
}
.img2{
    width: 350px;
}
.img3{
    width: 350px;
}
.img4{
    width: 350px;
}
.texto1, .texto2{
    width: 400px;
}
.img3, .texto3, .img4, .texto4{
    margin-top: 50px;
    margin-bottom: 20px;
}


.texto1, .texto2, .texto3, .texto4{
   font-family: 'Manrope';
   font-size: 18px;
   font-weight: 400;
   
}
  

.primeiro{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;

}

.setameio{
    text-align: center;
    align-items: center;
    margin-left: 650px;
    margin-top: -2000px;
    width: 140px;
}
.segundo{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 1000px;
    width: 300px;
    margin-top: -130vh;
    word-break: keep-all;

}
 /* Estilize a div que conterá a imagem e as palavras */
 .container, .container2, .container3, .container4{
    position: relative;
    display: inline-block;
}

/* Estilize a imagem */


/* Estilize as palavras que serão exibidas */
.overlay {
    position: absolute;
    top: 275px;
    left: 154px;
    opacity: 0; /* Inicialmente, as palavras estão invisíveis */
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 340px;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
    
} 

.overlay2{
    position: absolute;
    top: 293px;
    left: 150px;
    opacity: 0; /* Inicialmente, as palavras estão invisíveis */
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 348px;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
}

.overlay3{
    position: absolute;
    top: 245px;
    left: 40 px;
    opacity: 0; /* Inicialmente, as palavras estão invisíveis */
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 347px;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
}

.overlay4{
    position: absolute;
    top: 245px;
    left: 2px;   
    opacity: 0; /* Inicialmente, as palavras estão invisíveis */
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 348px;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
}

.container-texto{
    font-family: 'Forum', sans-serif;
}
/* Quando o mouse passa sobre a imagem, torne as palavras visíveis */
.container:hover .overlay {
    opacity: 1;
}
  
.container2:hover .overlay2{
    opacity: 1;
}
.container3:hover .overlay3{
    opacity: 1;
}
.container4:hover .overlay4{
    opacity: 1;
}
/* FIM HISTÓRIA*/


/*EMPRESA-FELIZ */
.empresa-feliz{
    background-color: white;
    width: 100%;
    height: 800px;
    
}

.predio{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.empresa{
    font-family: 'Montserrat';
    font-size: 28px;
    font-weight: 700px;
    color: #26B2F4;
}

.estar h1 {
    margin-top: 70px;
    font: 400 20px 'Manrope', sans-serif;
padding: 0 35vh;  

}

.projetos{
    font-family:  'Montserrat', sans-serif;
    font-size: 9px;
    font-weight: 600;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
/*CARROSEL*/
.carousel-container {
    position: relative;
    width: 900px; /* largura do carrossel */
    overflow: hidden;
    text-align: center;
    margin: auto;
    border: 2px solid black;
    height: 200px;
    align-items: center;
  
  
}

.carousel {
 
    display: flex;
    transition: 0.5s;
    align-items: center;
 
}

.carousel ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  align-items: center;

   
}

.carousel li {
    flex: 0 0 33.33%; /* define a largura das imagens, 33.33% para exibir 3 por vez */
    height: 100px;

}



.carousel-button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px; /* largura dos botões */
    
    display: flex;
    align-items: center;
    cursor: pointer;
}

.carousel-button-left {
    left: 0;
}

.carousel-button-right {
    right: 0;
}
/*FIM CARROSEL */
/*GOVERNANÇA*/
.governo{
    background-color: #F5F5F5;
    width: 100%;
    height: 1500px;
}

#governa{
 text-align: center;
 align-items: center;
 justify-content: center;
 padding: 100px;

}

.gov{
font-family: 'Montserrat', sans-serif;
font-size: 28px;
font-weight: 700px;
color: #878F94;
}

.missao{
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 400px;
    text-align: center;
    padding: 0 50vh;
}

#diretoria{
    text-align: center;
   width: 95vw;
   display: flex;
justify-content: center;
   font-family: 'Forum', sans-serif;
    font-weight: 400;
    font-size: 35px;
  margin-top: 30px;

}

/*NOMES*/ .nome1, .nome2, .nome3, .nome4{
color: #1F9B6E;
font-size: 25px;
font-weight: 600;
font-family: 'Montserrat', sans-serif;
width: 300px;
} 


.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    width: 300px;
    /* margin-left: 450px; */
}
.textp{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    /* margin-left: 350px; */
}

.text1{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
  
    /* margin-left: 1130px; */
}

.dados{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  
}



.segunda-linha, .primeira-linha{
    height: 300px;
    width: 2px;
    background-color: black;
 
   
}

.presidente{
    margin-left: 50px;

}

.vice-presidente{
    text-align: center;
    display: flex;
   
    align-items: center;
  
}
.let{
   display: flex;
   flex-direction: column;
   align-items: center;
 margin-left: 50px;

}

.conselheiro ,.fiscal{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Forum', sans-serif;
    font-weight: 400;
    font-size: 35px;

/* padding: 80px; */

}

/*NOSSO ESTATUTO*/

.nosso-estatuto{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 80px;
}

.aqui{
    color: #1F9B6E;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.denuncia{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color:#1F9B6E;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* RODAPÉ */
#contato {
    background: rgba(255, 228, 133, 0.74);
    padding: 73px;
    padding-bottom: 15px;
}

#contato .conteiner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logoRodape {
    margin-left: 135px;
}

.redes {
    margin: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}

.icone {
    width: 55px;
    padding: 9px;
}

.icone:hover {
    width: 62px;
    transition: 0.5s;
    filter: brightness(50%);
}

.texto-rodape {
    font: 400 20px 'Nunito', sans-serif;
}

.rodapeTexto {
    margin: 80px 110px 0 0;
    text-align: justify;
    width: 540px;
}

.enderecoTexto {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 25px;
    margin-right: 15px;
}

.iconMaps {
    margin-right: 20px;
}

.textoMaps {
    font: 400 20px 'Nunito', sans-serif;
}

.rodape-lado2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logotipoRodape {
    width: 200px;
}

.maps {
    border-radius: 10px;
}

.imgMaps {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.direitos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 120px;
}

.autorais {
    font: 300 16px 'Aleo-light', serif;
}

.direito {
    font: 300 20px 'Aleo-light', serif;
    margin-top: 10px;
}
 
.geral{
    display: none;
}


/* MOBILE */
@media screen and (max-width: 768px) {

   /* CABEÇALHO */

   #cabecalho {
    width: 100%;
    position: fixed;
}

.cabecalho_nav {
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}

#cabecalho .cabecalho_sombra {
    height: 5px;
    background-color: #FFD233;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.cabecalho_nav_itens {
    display: none;
}

.cabecalho_nav_item {
    display: none;
}

.cabecalho_nav_item_Doe {
    display: none;
}

.cabecalho_Logo {
    width: 120px;
}

.navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-teste {
    padding: 0;
    display: flex;
}

.geral {
    display: block;
    padding: 0 20px;
}

.idiomas {
    margin: 0;

}

.img-teste {
    padding: 0;
}

.ul-imagens {
    margin-top: 20px;
}

.geral i {
    color: #FFD233;
    font-size: 28px;
}

.modal-menu {
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 200;
    width: 100%;
}

#modal-menu .fechar {
    background-color: transparent;
    cursor: pointer;
    left: 20px;
    border-radius: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
}

#fecharMenu span{
    font-size: 50px;
}

.modal-menu img {
    width: 130px;
    height: auto;
    margin-top: 20px;
}

.comeco-menu{
    display: flex;
    justify-content: space-around
}

.as a{
    font: 700 16px 'Montserrat', sans-serif;
    color: black;
    margin: 12px 0;
}

.as{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 50px;
}

.menina-menu{
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}

.menina-menu img{
    width: 120px;
}

.desfocado {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    z-index: 1;
}

/* TÉRMINO DO CABEÇALHO */
}