*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: so;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cabecalho_nav_item{
    background: #FFD233;
    border-radius: 10px;
    padding: 10px 30px;
}
.cabecalho_nav{
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}