*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
text-decoration: none;
}

.item{
    margin: 20px;
    background: #FFD233;
    font: 400 20px 'Aleo', serif;
    border-radius: 10px;
    padding: 7px 15px;
    color: #000;
}
.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.idiomas{
    right: 40px;
}
.doe {
    background-color: #FB2673;
    font: 400 20px 'Aleo', serif;
    padding: 10px 30px;
    color: #FFF;

}

.linha{
    width: 100vw;
height: 16px;
left: 0px;
top: 50px;

background: #FFD233;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.mundo{
width: 100vw;
height: auto;
left: 0px;
top: 104px;
}
.calendario{
    
   height: auto;
    left: 1380px;
right: 0;
top: 150px;
bottom: 0;
position: absolute;
z-index: 7;
}

.qm{
    font: 700 30px 'Nunito', sans-serif;
    text-align: center;
    margin-top: 100px;
}

.tempo{
   
font: 500 20px 'Nunito', sans-serif;
font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
display: flex;
justify-content: center;
flex-wrap: wrap;
margin: 30px 450px 0;
text-align: center;
}
.verde{

    background-color: #D5FFC6;
    padding: 40px;
    margin: 0 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.14);
    width: 400px;
    z-index: 99;
}
.objetivos{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 40px;
    flex-wrap: nowrap;
    z-index: 99;
    

}
.retangulo{

    background-color: #E7FFDF;
    margin-top: -100px;
    padding-top: 60px;
    padding: 0 0 60px;

}
.historia{
    font: 700 30px 'Nunito', sans-serif;
    text-align: center;
    margin: 100px 0; 
    align-items: center;


}
.azul{
   display: flex;
   justify-content: center;

}

.fase1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

.fase2{
    margin-bottom: 80px ;
}
.descricao{
    width: 400px;
    font: 100 16px 'Nunito', sans-serif;
    text-align: center;
    margin: 100px 0; 
    align-items: center;
text-align: justify;



}
.roda, .historia, .crianca, .idosos{
width: 400px;
}


.tres-pessoas, .elemento, .natal, .predios{
width: 150px;
}

.tres-pessoas{
padding: 30px;
}

.circulo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
align-items: center;
justify-content: center;
}

.amarelo{
    background-color: #FFD233;
}

.azulfundo{
    background-color: #29166F;
}

.vermelho{
    background-color: #D73838;
}

.laranja{
    background-color: #E05100;
}

.elemento{
    padding: 30px;
    text-align: center;
}

.natal{
    padding: 30px;
    text-align: center;
}

.predios{
    padding: 30px;
    text-align: center;
}


.conheca{

font: 700 30px 'Nunito', sans-serif;
text-align: center;
margin: 80px 100px;
   
}
.nossa{
    width: 400px;
height: auto;
left: 0px;
top: 104px;

}
.equipenossa{
text-align: center;

}
.feriado{
    font: 10 15px 'Nunito', sans-serif;
}

.retangulo2{
     background-color: #D6EBFF;
   padding: 30px 30px 30px 30px;
     width: 587px;
     height: 95px;
     border-radius: 10px 10px;
     margin: 75px 75px;
     margin-top: 100px;
   margin-left: 480px;
   
    
}
.profissionais{
    text-align: center;
margin-top: -20px;
    text-align: justify;
}
.gentes{
width: 400px;  
margin: 60px 0px; 

}
 .colaboradores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 1000px;
 }
 .professores{
   display: flex;
   justify-content: center;
 }

 .retangulo3{
    background: rgba(251, 38, 115, 0.29);
    padding: 30px 30px 30px 30px;
     width: 597px;
     height: 150px;
     border-radius: 10px 10px;
     margin: 55px 55px;
     margin-top: 5px;
   margin-left: 440px;
 }

 .monitor{
    display: flex;
    justify-content: center;

 }

 /* RODAPÉ */
#contato {
    background: rgba(255, 228, 133, 0.74);
    padding: 73px;
    padding-bottom: 15px;
}

#contato .conteiner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logoRodape {
    margin-left: 135px;
}

.redes {
    margin: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}

.icone {
    width: 55px;
    padding: 9px;
}

.icone:hover {
    width: 62px;
    transition: 0.5s;
    filter: brightness(50%);
}

.texto-rodape {
    font: 400 20px 'Nunito', sans-serif;
}

.rodapeTexto {
    margin: 80px 110px 0 0;
    text-align: justify;
    width: 540px;
}

.enderecoTexto {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.iconMaps {
    margin-right: 20px;
}

.textoMaps {
    font: 400 20px 'Nunito', sans-serif;
}

.imgMaps {
    margin: 0 90px 100px 45px;
}

.direitos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 120px;
}

.autorais {
    font: 300 16px 'Aleo-light', serif;
}

.direito {
    font: 300 20px 'Aleo-light', serif;
    margin-top: 10px;
}
/* .retangulo{
    width: 500px;
    height: 350px;
    border: 1px solid black;
    background-color: black;
    text-align: center;
} */
