/* RESET */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: Nunito;
    src: url(Assets/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: Aleo;
    src: url(Assets/Aleo-Regular.ttf);
}

@font-face {
    font-family: Aleo-light;
    src: url(Assets/Aleo-Light.ttf);
}

/* CABEÇALHO */
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cabecalho_sombra {
    height: 16px;
    background-color: #FFD233;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho_nav{
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Aleo', serif;
}

.cabecalho_nav_item{
    background: #FFD233;
    border-radius: 10px;
    padding: 7px 15px;
    color: #000;
}

.idioma{
    display: flex;
    order: -1;
}

.cabecalho_nav_item_Doe{
    background-color: #FB2673;
    border-bottom: 10px;
    padding: 10px 30px;
    color: #FFF;
}

.cabecalho_tudo{
    display: flex;
    align-items: center;
}

/* PRINCIPAL */
.fundo {
    background: url(img/principalaviao.jpg) no-repeat center;
    background-size: 100%;
    height: 636px;
}

.textoFrente {
    position: relative;
    z-index: 10;
    text-align: center;
    top: 251px;
}

/* FRASE */
.conteudo_2 {
    background: rgba(255, 236, 171, 0.83);
    text-align: center;
    padding: 60px 200px 60px 200px;
    margin-top: 40px;
}

.frase, .frase-autor {
    font: 300 32px 'Aleo-light', serif;
}

.frase-autor {
    margin-top: 30px;
}

/* PRÊMIOS */
.conteudo_3 {
    background: rgba(255, 210, 51, 0.08);
    margin-top: 100px;
    padding: 55px 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frasePremios {
    font: 700 36px 'Nunito', sans-serif;
    color: #FFD233;
}

.frasePremio {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    text-align: center;
}

/* DOAÇÕES */

.doacoes {
    box-shadow: 7.69011px 7.69011px 3.07605px rgba(0, 0, 0, 0.25), inset 3.84506px 3.84506px 3.07605px rgba(0, 0, 0, 0.05);
    margin-left: 315px;
    margin-right: 600px;
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
}

.margemDoacoes {
    padding: 30px;
    text-align: center;
}

.textoDoacoes {
    font: 400 28px 'Nunito', sans-serif;
    color: #48A400;
}

.doacoesItens {
    display: flex;
    flex-direction: column;
}

.doacoesItem {
    margin: 20px;
    display: flex;
    align-items: center;
}

.topicosDoacoes {
    font: 400 18px 'Nunito', sans-serif;
    margin: 30px;
}

/* YOUTUBE */
.conteudoYoutube {
    background: rgba(51, 157, 255, 0.2);
    padding: 150px;
    z-index: -1;
}

/* NOSSA HISTÓRIA */
.nossaHistoria {
    background: rgba(180, 219, 255, 0.14);
    padding: 100px;
}

/* PARCEIROS E PATROCINADORES */
.conteudo_6 {
    padding: 70px;
    margin: 60px 0;
    background: rgba(255, 33, 33, 0.46);
}

/* RODAPÉ */
.conteiner {
    display: flex;
    flex-direction: column;
}

#contato {
    background: rgba(255, 228, 133, 0.74);
    padding: 73px;
}

.redes {
    display: flex;
}

.icone {
    width: 55px;
    padding: 9px;
}

.icone:hover {
    width: 62px;
    transition: 0.5s;
    filter: brightness(50%);
}

.texto-rodape {
    font: 400 20px 'Nunito', sans-serif;
}
/* .retangulo{
    width: 500px;
    height: 350px;
    border: 1px solid black;
    background-color: black;
    text-align: center;
} */
