/* RESET */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: Nunito;
    src: url(Assets/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: Aleo;
    src: url(Assets/Aleo-Regular.ttf);
}

@font-face {
    font-family: Aleo-light;
    src: url(Assets/Aleo-Light.ttf);
}

/* CABEÇALHO */
#cabecalho {
    margin: 0 35px;
} 

.cabecalho_sombra {
    height: 16px;
    background-color: #FFD233;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_nav_itens {
    margin-left: 140px;
}

.cabecalho_nav_item{
    margin: 20px;
    background: #FFD233;
    font: 400 20px 'Aleo', serif;
    border-radius: 10px;
    padding: 7px 15px;
    color: #000;
}

.cabecalho_nav_item_Doe{
    background-color: #FB2673;
    font: 400 20px 'Aleo', serif;
    border-bottom: 10px;
    padding: 10px 30px;
    color: #FFF;
}

/* PRINCIPAL */
.fundo {
    background: url(img/principalaviao.jpg) no-repeat center;
    background-size: 100%;
    height: 636px;
}

.textoFrente {
    position: relative;
    z-index: 10;
    text-align: center;
    top: 251px;
}

/* FRASE */
#frase {
    background: rgba(255, 236, 171, 0.83);
    text-align: center;
    padding: 60px 200px 60px 200px;
    margin-top: 40px;
}

.frase, .frase-autor {
    font: 300 32px 'Aleo-light', serif;
}

.frase-autor {
    margin-top: 30px;
}

/* PRÊMIOS */
#premios .conteiner {
    background: rgba(255, 210, 51, 0.08);
    margin-top: 100px;
    padding: 55px 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.frasePremios {
    font: 700 36px 'Nunito', sans-serif;
    color: #FFD233;
}

.frasePremio {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    text-align: center;
}


/* DOAÇÕES */
#doacoes {
    text-align: center;
}


.doacoes {
    box-shadow: 7.69011px 7.69011px 3.07605px rgba(0, 0, 0, 0.25), inset 3.84506px 3.84506px 3.07605px rgba(0, 0, 0, 0.05);
    width: 600px;
    background-color: #FFF;
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
    position: relative;
    top: 80px;
}

.margemDoacoes {
    padding: 5px;
    text-align: center;
    margin: 0 30px;
}

.doar {
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgDoar {
    display: flex;
    align-self: flex-end;
    margin-left: 100px;
}

.sub {
    font: 800 36px 'Nunito', sans-serif;
}

.textoDoacoes {
    font: 400 28px 'Nunito', sans-serif;
    color: #48A400;
}

.textDoacoes {
    padding: 15px;
    margin: 20px 50px;
}

.doacoesItens {
    display: flex;
    flex-direction: column;
}

.doacoesItem {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topicosDoacoes {
    font: 400 19px 'Nunito', sans-serif;
    margin: 30px;
}

.atividades {
    display: flex;
    order: 1;
}

.despesas {
    display: flex;
    order: 1;
}

.doador {
    background-color: rgba(255, 199, 0, 0.27);
    height: 415px;
    width: 400px;
    align-self: flex-end;
    margin-bottom: 40px;
}

.tituloDoador {
    font: 400 28px 'Nunito', sans-serif;
    color: #A40000;
}

.titulo-Doador {
    text-align: center;
    margin: 50px 80px;
}

.linkDoe {
    text-align: center;
}

.doe {
    font: 400 22px 'Nunito', sans-serif;
    color: #000;
}

.doeVer {
    margin: 60px;
}

.verdeFundo {
    background: #7ED738;
    border-radius: 7.69011px;
    padding: 8px 65px;
}

.vermelhoFundo {
    background: #FF5D5D;
    border-radius: 7.68953px;
    padding: 8px 45px
}

.imgdoe {
    display: flex;
    justify-content: space-between;
}

.quadros {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemDoe {
    display: flex;
    justify-content: space-between;
}

/* YOUTUBE */
#conteudoYoutube {
    background: rgba(51, 157, 255, 0.2);
    padding: 238px 150px;
}

.video2 {
    text-align: end;
}

/* NOSSA HISTÓRIA */
#nossaHistoria {
    background: rgba(180, 219, 255, 0.14);
    padding: 100px;
}

.saibaMais {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.tituloSaiba {
    font: 700 34px 'Nunito', sans-serif;
}

.laranja {
    color: #E05100;
}

.azul {
    color: #29166F;
}

.vermelho {
    color: #BA3030;
}

.verde {
    color: #48A400;
}

.imgSaiba {
    text-align: center;
}

.textoSaiba {
    font: 400 19px 'Nunito', sans-serif;
}

.conteudoSaiba {
    margin-bottom: 40px;
}

.historia {
    width: 490px;
    margin: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textoBotao {
    font: 400 24px 'Nunito', sans-serif;
    color: #000;
    text-align: center;
}

 .bloco {
    text-align: center;
}



/* PARCEIROS E PATROCINADORES */
.conteudo_6 {
    padding: 70px;
    margin: 60px 0;
    background: rgba(255, 33, 33, 0.46);
}

/* RODAPÉ */
#contato {
    background: rgba(255, 228, 133, 0.74);
    padding: 73px;
    padding-bottom: 15px;
}

#contato .conteiner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logoRodape {
    margin-left: 135px;
}

.redes {
    margin: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}

.icone {
    width: 55px;
    padding: 9px;
}

.icone:hover {
    width: 62px;
    transition: 0.5s;
    filter: brightness(50%);
}

.texto-rodape {
    font: 400 20px 'Nunito', sans-serif;
}

.rodapeTexto {
    margin: 80px 110px 0 0;
    text-align: justify;
    width: 540px;
}

.enderecoTexto {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.iconMaps {
    margin-right: 20px;
}

.textoMaps {
    font: 400 20px 'Nunito', sans-serif;
}

.imgMaps {
    margin: 0 90px 100px 45px;
}

.direitos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 120px;
}

.autorais {
    font: 300 16px 'Aleo-light', serif;
}

.direito {
    font: 300 20px 'Aleo-light', serif;
    margin-top: 10px;
}
/* .retangulo{
    width: 500px;
    height: 350px;
    border: 1px solid black;
    background-color: black;
    text-align: center;
} */
