*{
    margin: 0;
}


.titulo{
    background-color: #DCF4FF;
    padding: 200px;
    text-align: center;
   
}

.TDois{
    background-color: #e9a9c2;
    text-align: center;
    padding: 200px;
    
}

