/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: Nunito;
    src: url(Assets/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: Aleo;
    src: url(Assets/Aleo-Regular.ttf);
}

@font-face {
    font-family: Aleo-light;
    src: url(Assets/Aleo-Light.ttf);
}

html {
    scroll-behavior: smooth;
}

/* CABEÇALHO */
#cabecalho {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #FFF;
}

#cabecalho .cabecalho_sombra {
    height: 16px;
    background-color: #FFD233;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho_nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cabecalho_nav_itens {
    margin-left: 100px;
}

.cabecalho_nav_item {
    margin: 20px;
    background: #FFD233;
    font: 400 17px 'Aleo', serif;
    border-radius: 10px;
    padding: 9px 18px;
    color: #000;
}

.cabecalho_nav_item_Doe {
    background-color: #FB2673;
    font: 400 17px 'Aleo', serif;
    border-bottom: 10px;
    padding: 10px 30px;
    color: #FFF;
}

.idiomas {
    padding-top: 17px;
}


/* PARA PÁGINAS EM PORTUGUÊS */

ul {
    list-style: none;
}

.a-teste {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 20px;
}

.a-teste:hover {
    background-color: rgba(255, 255, 255, 0);
}

.img-teste {
    display: block;
    padding: 0 20px;
}

.principal {
    background-color: rgba(0, 0, 255, 0);
    width: 90%;
    /* margin: auto; */
}

.li-p {
    line-height: 50px;
    float: left;
}

ul li ul li {
    background-color: #74747400;
    height: 50px;
}

.ul-imagens {
    display: none;
    padding-left: 2px;
    position: fixed;
    z-index: 100;
}

/* DEIXA ESSE CSS DE INGLÊS TAMBÉM MESMO QUE A PÁGINA SEJA EM PORTUGUES, SÓ MUDA NO HTML */

ul {
    list-style: none;
}

.a-teste2 {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 20px;
}

.a-teste2:hover {
    background-color: rgba(255, 255, 255, 0);
}

.img-teste2 {
    display: block;
    padding: 0 20px;
}

.principal2 {
    background-color: rgba(0, 0, 255, 0);
    width: 90%;
    /* margin: auto; */
}

.li-p2 {
    line-height: 50px;
    float: left;
}

ul li ul li {
    background-color: #74747400;
    height: 50px;
}

.ul-imagens2 {
    display: none;
    padding-left: 2px;
    position: fixed;
    z-index: 100;
}

/* TITULO UM PARTE UM */


.Azul {
    padding-top: 100px;

}

.Azul {
    color: #DCF4FF;
    background-color: #DCF4FF;
    width: 100%;
    height: 150vh;
}

.tituloUm {
    text-align: center;
    font: 800 40px 'Nunito', serif;
    left: 500px;
    color: #000;
    margin-top: 80px;



}

.MaosUm {
    margin-top: -60px;
    margin-left: 970px;
    height: 79px;
    width: 81px;
}

.Formulario {
    color: #000;
    margin-top: 50px;
    text-align: center;
    font: 400 24px 'Nunito', sans-serif;
}

.FormularioB {
    color: #000;
    margin-top: 20px;
    text-align: center;
    left: 380px;
    font: 400 16px 'Nunito', sans-serif;
}

.rosa {
    background-color: #FFF2F7;
    height: 506px;
    position: absolute;
    top: 320px;
    left: 240px;
    margin: 0 90 0 90;
    width: 1000px;
    text-align: center;
}

.coracao {
    width: 50px;
    height: 50px;
    top: -2010px;
    margin-left: 900px;
}

.FundoOnda {
    width: 100%;
    margin-top: -90px;
}

/* TITULO DOIS PARTE DOIS */


.TituloDois {
    color: #000;
    font: 800 40px 'Nunito', sans-serif;
    text-align: center;
    padding-top: 70px;
}

.MaosDois {
    margin-top: -60px;
    margin-left: 970px;
    height: 79px;
    width: 81px;

}

/* TEXTO DA PARTE DOIS */
.TextoUmA {
    font: 400 20px 'Nunito', sans-serif;
    text-align: center;

}

.TextoUmB {
    font: 400 20px 'Nunito', sans-serif;
    text-align: center;

}

.TextoUmC {
    font: 400 20px 'Nunito', sans-serif;
    text-align: center;
}

.textoUm {
    margin-top: 60px;
}

/* PARTE DOS ICONES E SETAS */

.tudoIcones {
    display: flex;
    justify-content: center;
    column-gap: 200px;
    margin-top: 80px;

}

#Moeda {
    height: 120px;
    width: 120px;
}


#Bolas {
    height: 120px;
    width: 120px;

}

#Teatro {
    height: 120px;
    width: 120px;
    left: 1000px;
}

#Menino {
    height: 106px;
    width: 106px;

}


#ROUANET {
    width: 90px;
    height: 100px;
}

#ESPORTE {
    width: 90px;
    height: 100px;
}

#CULTURA {
    width: 90px;
    height: 100px;
}

#FUMCAD {
    width: 90px;
    height: 100px;

}



/* SETAS */


.setaUm {
    margin-top: 60px;
    margin-left: 205px;
    width: 80px;
    height: 80px;
}

.setaDois {
    margin-top: 60px;
    margin-left: 240px;
    width: 80px;
    height: 80px;
}

.setaTres {
    margin-top: 60px;
    margin-left: 250px;
    width: 80px;
    height: 80px;
}

.setaQuatro {
    margin-top: 60px;
    margin-left: 220px;
    width: 80px;
    height: 80px;
}

#ROUANET {
    margin-left: 100px;
}

#ESPORTE {
    margin-left: 0px;
}


/* PARTE TRÊS TEXTO */
/* TEXTO UM LEI ROUANET */

.quadradoUm {
    background-color: #FFF1BE;
    border-radius: 0px;
    height: 693px;
    margin-top: 250px;
    margin-left: 350px;
    width: 800px;
    border: 3px dashed #000;

}




.TextoDoisA {
    margin-top: 70px;
    font: 400 20px 'Nunito', sans-serif;
    padding-left: 80px;
    width: 716px;
    text-align: justify;

}

.tituloDoisA {
    margin-left: 38%;
    font: 400 20px 'Nunito', sans-serif;

}

.TextoDoisB {
    font: 400 20px 'Nunito', sans-serif;
    text-align: justify;
    padding-left: 80px;
    width: 716px;

}

.Md {
    width: 120px;
    height: 120px;

}

.ImagemA {
    padding-top: 50px;
    margin-left: 320px;
    width: 180px;
    height: 180px;
}

.setaDoisA {
    width: 80px;
    height: 70px;
    display: flex;
    margin-top: -70%;
}

/* PARTE DE ESPORTE */

.quadroDois {
    background-color: #FFF1BE;
    border-radius: 0px;
    height: 500px;
    margin-top: 250px;
    margin-left: 350px;
    width: 800px;
    border: 3px dashed #000;
}

.tituloDoisB {
    margin-left: 36%;
    font: 400 20px 'Nunito', sans-serif;
}

.tituloDoisBB {
    margin-left: 38%;
    font: 400 20px 'Nunito', sans-serif;
}

.setaDoisB {
    width: 80px;
    height: 80px;
    display: flex;
    margin-top: -53%;
}

.imagemB {
    padding-top: 70px;
    display: flex;
    margin-left: 320px;
    width: 180px;
    height: 180px;
}

.textoTres {
    margin-top: 70px;
    font: 400 20px 'Nunito', sans-serif;
    padding-left: 80px;
    width: 716px;
    text-align: justify;
}

/* PARTE DE ATUAÇÃO */
.quadroTres {
    background-color: #FFF1BE;
    border-radius: 0px;
    height: 500px;
    margin-top: 250px;
    margin-left: 350px;
    width: 800px;
    border: 3px dashed #000;
}

.tituloDoisC {
    margin-left: 38%;
    font: 400 20px 'Nunito', sans-serif;
}

.tituloDoisCC {
    margin-left: 34%;
    font: 400 20px 'Nunito', sans-serif;
}



.imagemC {
    padding-top: 40px;
    display: flex;
    margin-left: 320px;
    width: 180px;
    height: 180px;
    margin-top: -10px;
}

.textoQuatro {
    font: 400 20px 'Nunito', sans-serif;
    text-align: justify;
    padding-left: 100px;
    width: 716px;
    margin-top: 20px;
}

.setaDoisC {
    width: 80px;
    height: 80px;
    display: flex;
    margin-top: -56%;
}

/* PARTE DO MENINO */

.quadroQuatro {
    background-color: #FFF1BE;
    border-radius: 0px;
    height: 540px;
    margin-top: 250px;
    margin-left: 350px;
    width: 800px;
    border: 3px dashed #000;
}

.tituloDoisD {
    margin-left: 42%;
    font: 400 20px 'Nunito', sans-serif;
}

.imagemD {
    padding-top: 60px;
    display: flex;
    margin-left: 320px;
    width: 180px;
    height: 180px;
}

.TextoCinco {
    font: 400 20px 'Nunito', sans-serif;
    text-align: justify;
    margin-top: 30px;
    padding-left: 80px;
    width: 716px;
    margin-top: 20px;
}

.setaDoisD {
    width: 80px;
    height: 80px;
    display: flex;
    margin-top: -60%;
}


/* FORMULARIO */
.btn {
    background-color: #FFF2F7;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 70px;
    font: 300 16px 'Nunito' sans-serif;
}



.forms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.corFundo {
    background-color: #FFF;
    width: 630px;
    height: 702px;
    margin-top: 80px;
    padding: 35px;
}

.fundo {
    background-color: rgba(232, 232, 232, 0.72);
    width: 558px;
    height: 538px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 25px;
}

input,
button {
    border-radius: 5px;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="tel"],
.campo input[type="date"] {
    display: flex;
    text-align: justify;
    width: 410px;
}

.campo {
    margin-bottom: 1em;
    display: flex;
}

.campo label {
    margin-bottom: 0.2em;
    color: #000;
    display: inline;
}

.campo input[type="text"],
.campo input[type="Email"],
.campo input[type="tel"],
.campo input[type="Cidade"] {
    padding: 0.2em;
    border: 1px;

}

label {
    font: 400 17px 'Nunito', sans-serif;
    width: 100px;
}

.formulario {
    margin-top: 50px;
}

.aviso {
    font: 200 14px 'Nunito', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.textBotao {
    font: 400 15px 'Nunito', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.parteTres {
    padding-bottom: 170px;
}


/* FOOTER */
#contato {
    background: rgba(255, 228, 133, 0.74);
    padding: 73px;
    padding-bottom: 15px;
}

#contato .conteiner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logoRodape {
    margin-left: 135px;
}

.redes {
    margin: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}

.icone {
    width: 55px;
    padding: 9px;
}

.icone:hover {
    width: 62px;
    transition: 0.5s;
    filter: brightness(50%);
}

.texto-rodape {
    font: 400 20px 'Nunito', sans-serif;
}

.rodapeTexto {
    margin: 80px 110px 0 0;
    text-align: justify;
    width: 540px;
}

.enderecoTexto {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 25px;
    margin-right: 15px;
}

.iconMaps {
    margin-right: 20px;
}

.textoMaps {
    font: 400 20px 'Nunito', sans-serif;
}

.rodape-lado2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logotipoRodape {
    width: 200px;
}

.maps {
    border-radius: 10px;
}

.imgMaps {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.direitos {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 120px;
}

.autorais {
    font: 300 16px 'Aleo-light', serif;
}

.direito {
    font: 300 20px 'Aleo-light', serif;
    margin-top: 10px;
}

/* IMAGENS GIRANTES */

.box:hover {
    animation-name: rotate;
    animation-duration: 3s;
}

@keyframes rotate {
    0% {
        transform: rotate();
    }

    70% {
        transform: rotate(360deg);
    }
}

.geral {
    display: none;
}



/* MOBILE */

@media screen and (max-width: 400px) {

    /* CABEÇALHO */

    #cabecalho {
        width: 100%;
        position: fixed;
    }

    #cabecalho nav.cabecalho_nav {
        width: 100%;
    }

    #cabecalho .cabecalho_sombra {
        height: 16px;
        background-color: #FFD233;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
    }

    /* .libra{
        display: none;
    } */

    .geral {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 50px;
        display: flex;
        left: 150px;
    }

    .geral:hover .cabecalho_nav_item {
        color: rgb(255, 255, 255);
        display: flex;
    }

    .cabecalho_nav_item {
        display: none;
        flex-direction: column;
        position: fixed;
        z-index: 1000;
        left: 270px;
        top: 40px;
    }

    a {
        text-align: center;
        font-family: 'Aleo', sans-serif;
        font-size: 10px;
        color: rgb(0, 0, 0);
        padding-top: 6px;
    }

    a:hover {
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }

    .cabecalho_nav_itens {
        display: none;
    }

    #cabecalho .imagem {
        left: 20px;
    }

    .cabecalho_Logo {
        width: 120px;
    }

    .cabecalho_nav_item_Doe {
        display: none;
    }

    .idiomas {
        right: 40px;
        top: 12px;
    }

    /* TÉRMINO DO CABEÇALHO */

    .titulo {
        width: 400px;
    }

    .tituloUm {
        font-size: 25px;
    }

    .rosa {
        width: 320px;
        margin-left: -50%;

    }


    .campo input[type="text"],
    .campo input[type="email"],
    .campo input[type="tel"],
    .campo input[type="date"] {
        display: flex;
        text-align: justify;
        width: 135px;
    }

    .TituloDois {
        font-size: 25px;

    }

    .TextoUmA,
    .TextoUmB,
    .TextoUmC {
        font-size: 13px;
        align-items: center;

    }

    .setaUm {
        margin-top: 40px;
        margin-left: 35px;
        width: 20px;
        height: 20px;
    }

    .setaDois {
        margin-top: 40px;
        margin-left: 77px;
        width: 20px;
        height: 20px;
    }

    .setaTres {
        margin-top: 40px;
        margin-left: 85px;
        width: 20px;
        height: 20px;
    }

    .setaQuatro {
        margin-top: 40px;
        margin-left: 76px;
        width: 20px;
        height: 20px;
    }



    .tudoIcones {
        display: flex;
        justify-content: center;
        column-gap: 50px;
        margin-top: 80px;

    }

    #Moeda {
        height: 50px;
        width: 50px;
    }


    #Bolas {
        height: 50px;
        width: 50px;

    }

    #Teatro {
        height: 50px;
        width: 50px;
        left: 1000px;
    }

    #Menino {
        height: 50px;
        width: 50px;

    }


    #ROUANET {
        width: 90px;
        height: 100px;
    }

    #ESPORTE {
        width: 90px;
        height: 100px;
    }

    #CULTURA {
        width: 90px;
        height: 100px;
    }

    #FUMCAD {
        width: 90px;
        height: 100px;

    }

    .quadradoUm {
        background-color: #FFF1BE;
        border-radius: 0px;
        height: 903px;
        margin-top: 150px;
        margin-left: 70px;
        width: 280px;
        border: 3px dashed #000;

    }


    .TextoDoisA {
        margin-top: 40px;
        font: 400 20px 'Nunito', sans-serif;
        font-size: 15px;
        padding-left: 50px;
        width: 206px;
        text-align: justify;

    }

    .tituloDoisA {
        margin-left: 35%;
        font: 400 20px 'Nunito', sans-serif;
        font-size: 15px;
        margin-top: -35%;

    }

    .TextoDoisB {
        font: 400 20px 'Nunito', sans-serif;
        text-align: justify;
        font-size: 15px;
        padding-left: 50px;
        width: 206px;
        text-align: justify;

    }

    .Md {
        width: 60px;
        height: 60px;
        text-align: center;
        margin-left: 80px;
        margin-top: -30px;

    }

    .ImagemA {
        width: 10px;
        margin-left: 40px;
    }

    /* .ImagemA {
        padding-top: 50px;
        margin-left: 320px;
        width: 180px;
        height: 180px;
    } */

    .setaDoisA {
        width: 34px;
        height: 34px;
        display: flex;
        margin-top: -287%;
    }

    /* PARTE DE ESPORTE */

    .quadroDois {
        background-color: #FFF1BE;
        border-radius: 0px;
        height: 583px;
        margin-top: 150px;
        margin-left: 70px;
        width: 280px;
        border: 3px dashed #000;
    }

    .Formulario{
        font-size: 17px;
    }

    .tituloDoisB {
        margin-left: 36%;
        font: 400 20px 'Nunito', sans-serif;
        margin-top: -38%;
        margin-left: 20%;
        font-size: 15px;

    }

    .tituloDoisBB {
        margin-left: 28%;
        font: 400 20px 'Nunito', sans-serif;
        margin-top: 10px;
        font-size: 15px;
    }

    .setaDoisB {
        width: 34px;
        height: 34px;
        display: flex;
        margin-top: -162%;
    }

    .imagemB {
      margin-left: 40px;
      width: 10px;
    }

    .Bola {
        margin-left: 50px;
        width: 70px;
        height: 70px;
        margin-top: -65px;
    }

    .textoTres {
        margin-top: 40px;
        font: 400 20px 'Nunito', sans-serif;
        font-size: 15px;
        padding-left: 50px;
        width: 206px;
        text-align: justify;
    }

    /* PARTE DE ATUAÇÃO */
    .quadroTres {
        background-color: #FFF1BE;
        border-radius: 0px;
        height: 773px;
        margin-top: 150px;
        margin-left: 70px;
        width: 280px;
        border: 3px dashed #000;
    }

    .tituloDoisC {
        margin-left: 20%;
        font: 400 20px 'Nunito', sans-serif;
        margin-top: -0%;
        font-size: 15px;
    }

    .tituloDoisCC {
        margin-left: 13%;
        font: 400 20px 'Nunito', sans-serif;
        margin-top: 10px;
        font-size: 15px;
    }
    .enabled{
        width: -45px;
    }

    .imagemC {
        /* padding-top: 40px; */
        display: flex;
        margin-left: 35%;
        width: 120px;
        height: 120px;
        margin-top: -12%;
    }

    .textoQuatro {
        margin-top: 40px;
        font: 400 20px 'Nunito', sans-serif;
        font-size: 15px;
        padding-left: 50px;
        width: 206px;
        text-align: justify;
    }

    .setaDoisC {
        width: 34px;
        height: 34px;
        display: flex;
        margin-top: -235%;
    }

    /* PARTE DO MENINO */

    .quadroQuatro {
        background-color: #FFF1BE;
        border-radius: 0px;
        height: 985px;
        margin-top: 150px;
        margin-left: 70px;
        width: 280px;
        border: 3px dashed #000;
    }

    .tituloDoisD {
        margin-left: 42%;
        font: 400 20px 'Nunito', sans-serif;
        font-size: 15px;
    }

    .imagemD {
        display: flex;
        margin-left: 120px;
        width: 120px;
        height: 120px;
        margin-top: -15%;
    }

    .TextoCinco {
        margin-top: 40px;
        font: 400 20px 'Nunito', sans-serif;
        font-size: 15px;
        padding-left: 55;
        width: 206px;
        margin-top: 5%;
    }

    .setaDoisD {
        width: 34px;
        height: 34px;
        display: flex;
        margin-top: -339%;
    }

    .MaosUm {
        margin-left: 83%;
        width: 50px;
        height: 50px;
    }

    .coracao {
        margin-left: 80%;
        margin-top: -10%;
        width: 30px;
        height: 30px;
    }

    .MaosDois {
        width: 40px;
        height: 40px;
        margin-left: 88%;
        margin-top: -14%;
    }

    .access-button {
        margin-left: 5%;
    }

    .enabled {
        margin-left: 5%;
    }


    /* RODAPÉ */
    #contato {
        margin-top: 700px;
        width: 400px;
    }

    .logoRodape {
        margin-left: 90px;
        width: 100px;
    }

    .menina {
        width: 120px;
        left: 30px;
    }

    .redes {
        margin: 20px;
        display: flex;
        align-items: center;
        height: 50px;
        right: 50px;
    }

    .icone {
        width: 40px;
        padding: 9px;
        padding-left: 3px;
    }

    .icone:hover {
        width: 45px;
        transition: 0.5s;
        filter: brightness(50%);
    }


    .texto-rodape {
        font: 400 12px 'Nunito', sans-serif;
        right: 25px;
        width: 300px;
    }

    .logotipoRodape {
        width: 120px;
    }

    .rodapeTexto {
        width: 100%;
    }

    .enderecoTexto {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 25px;
        margin-right: 50px;
        width: 100%;
    }

    .endereco {
        top: 30px;
    }

    .iconMaps {
        right: 25px;
        width: 30px;
    }

    .textoMaps {
        font: 400 12px 'Nunito', sans-serif;
        right: 30px;
        width: 100%;
    }

    .imgMaps {
        right: 50px;
    }

    .rodape-lado1 {
        width: 100%;
    }

    .rodape-lado2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .maps {
        border-radius: 10px;
        width: 200px;
        left: 130px;
    }

    .a-maps {
        right: 170px;
    }

    .amigoSurdo {
        width: 320px;
        right: 30px;
    }

    .direitos {
        width: 100%;
        margin-top: 90px;
    }

    .autorais {
        font: 400 10px 'Aleo-light', serif;
        width: 290px;
    }

    .direito {
        font: 300 14px 'Aleo-light', serif;
        margin-top: 15px;
        width: 300px;
        text-align: center;
    }

    label {
        font-size: 12px;
    }

    ::placeholder {
        font-size: 12px;
    }


    /* TERMINO DO RODAPÉ */

}