*{
    margin: 0;
}


.titulo{
    background-color: #DCF4FF;
    
    padding: 200px;
    text-align: center;
   font: 100px,'mont'sans-serif ;
}

.TDois{
    background-color: #e9a9c2;
    text-align: center;
    padding: 200px;
    
}
.subtitulo{
    margin-top: 20px;
}