/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Forum';
    src: url(fonts/Forum-Regular.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(fonts/Manrope-VariableFont_wght.ttf);
}

/* CABEÇALHO */
#cabecalho {
    width: 100%;
    position: fixed;
    z-index: 11;
    background-color: #FFF;
}

#cabecalho .cabecalho_sombra {
    height: 5px;
    background-color: #FFD233;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.30);
}

.cabecalho_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px;
}

.navegacao {
    display: flex;
    align-items: center;
}

.cabecalho_nav_itens {
    margin-right: 30px;
}

.cabecalho_nav_item {
    font: 400 18px 'Montserrat', serif;
    color: #000;
    margin-right: 25px;
}

.cabecalho_nav_item_Doe {
    background-color: #FB2673;
    font: 400 17px 'Montserrat', serif;
    border-bottom: 10px;
    padding: 10px 30px;
    color: #FFF;
}

.idiomas {
    margin: 15px 20px 0 0;
}

/* IDIOMAS */
ul {
    list-style: none;
}

.a-teste {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 20px;

}

.a-teste:hover {
    background-color: rgba(255, 255, 255, 0);
}

.img-teste {
    display: block;
    padding: 0 20px;
}

.principal {
    background-color: rgba(0, 0, 255, 0);
    width: 90%;
    /* margin: auto; */
}

.li-p {
    line-height: 50px;
    float: left;
}

ul li ul li {
    background-color: #74747400;
    height: 50px;
}

.ul-imagens {
    display: none;
    padding-left: 2px;
    position: fixed;
    z-index: 100;
}

/* DEIXA ESSE CSS DE INGLÊS TAMBÉM MESMO QUE A PÁGINA SEJA EM PORTUGUES, SÓ MUDA NO HTML */

ul {
    list-style: none;
}

.a-teste2 {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 0 20px;
}

.a-teste2:hover {
    background-color: rgba(255, 255, 255, 0);
}

.img-teste2 {
    display: block;
    padding: 0 20px;
}

.principal2 {
    background-color: rgba(0, 0, 255, 0);
    width: 90%;
    /* margin: auto; */
}

.li-p2 {
    line-height: 50px;
    float: left;
}

ul li ul li {
    background-color: #74747400;
    height: 50px;
}

.ul-imagens2 {
    display: none;
    padding-left: 2px;
    position: fixed;
    z-index: 100;
}

.geral {
    display: none;
}





/* COMEÇO VOLUNTÁRIOS */
h2 {
    font-family: Montserrat;
    color: #26B2F4;
}

p,
h3 {
    font-family: Manrope;
}

p {
    line-height: 24.59px;
    font-size: 18px;
    text-align: left;
}


.imagem-voluntario {
    /* imagem de voluntário logo em segida do cabeçalho */
    width: 100%;
    height: auto;
}


/* título e texto do programa voluntariado */
.programa-voluntario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20vw;

}

.titulo,
.lee {
    margin-top: 5vh;
}



/*COMO FUNCIONA */
.retangulo-rosa {
    width: 100%;
    height: auto;
}



.funcionamento {
    /* Nesse é uma div onde coloquei as coisas dentro do retangulo rosa coloquei várias coisas para deixar no centro */
    margin-top: -80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-between;
}



.texto,
.titulo-fuincionamento {
    display: flex;
    margin-top: 3vh;
    margin-right: 13vw;


}


.lets {
    /* Aqui é uma div que tem a imgame com o numero e o texto */

    display: flex;
}


.tt {
    /* Aqui eu coloquei uma class no titulo para eu abaixar ele e dar um espaço entre o numero e o titulo */
    margin-top: 5.75vh;
    margin-left: 2vh;
}


#saibaMais {
    width: 233px;
    height: 33px;
    background-color: #26B2F4;
    color: white;
    margin-right: 10vw;
    margin-top: 5vh;
}

.lo {
    margin-left: 10vw;
}


/* PARTE PARA O FORMULÁRIO */


.modal {
    display: none;
    position: fixed;
  top: 30%;
    right: 0;
    transform: translate(-50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 800px;
    height: 700px;
}

.modal-content {
    text-align: center;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.desfocado {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.281);
    z-index: 1;
}

.formulario, .btn{/* para deixar tudo em cima do outro */
    display:block;
}


.formulario{/* faz com que ele desça um pouco */
    margin-top: 5vh;
    
  
}

#Mensagem{/* edita a mensagem */
    resize: none;
    height: 108px;
    border: 1px solid rgba(0, 0, 0, 0.729);
    border-radius: 5px;
    margin-top: 5vh;
    width: 409px;
}



input{/* edita inputs */
    width: 409px;
    height: 37px;
    border: 1px solid rgba(0, 0, 0, 0.729);
    border-radius: 5px;
    margin-top: 5vh;
}

.btn{/* aqui é uma div para mexer o botão para deixar no centro */
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 6vh;
  
    
}


#btn{/* é o id do botão para estilizar */
    width: 409px;
    height: 37px;
    color: white;
    background-color: #26B2F4;
}
/* CARROSSEL DE IMAGENS */

.titulo-carrossel {
    /* aqui é o titulo do carrossel dei um margin left só para dá um espaço, não queria deixar no centro */
    font-family: Montserrat;
    font-size: 28px;
    margin-top: 50vh;
    /* useei margin-top para abaixar meu título */
    margin-left: 7vw;
}

.tudo-carrossel {    
    /* coloquei essa div tudo para incluir tudo no carrossel, deixar ele no centro e ultilizei margin top para abaixar ele */
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.carousel-container {/* ele também tem tudo mas a função dele mesmo é o tamanho em si do carrossel, ele mexe no js */

    position: relative;
    width: 830px;
    overflow: hidden;

}


.carousel {
    display: flex;
    transition: 0.9s;



}

.carousel ul {/* essa parte ele só pega o conteudo do carrossel ou seja imagens e titulo */
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

}

img,
h5 {/* esssa parte foi para arrumar o top dentro do quadrado as imagens */
    margin-top: 5vh;
}



.carousel img {/* essa parte teve que ficar se eu tiro esse auto as imagens ficam diferentes */
    height: auto;
}



.img {/* essa parte foi onde coloquei borda, tamanho dos quadrado o distanciamento delas */
    width: 243px;
    height: 236px;

    border: 1px solid black;
    margin-left: 25px;
    background-color: #F5F5F5;
    font-family: Forum;
    font-size: 22.4px;
    align-items: center;
    justify-content: center;
    text-align: center;

}


/* parte de botões do carrossel */
.carousel-button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    /* largura dos botões */
    background-color: rgba(255, 255, 255, 0.5);
    /* cor de fundo dos botões */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.carousel-button-left {
    left: 0;
}

.carousel-button-right {
    right: 0;
}



































/* RODAPÉ */
#contato {
    background: rgba(255, 228, 133, 0.74);
    padding: 73px 0;
    padding-bottom: 15px;
}

#contato .conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.rodapeCima {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape-lado1 {
    display: flex;
    flex-direction: column;
    margin: 0 70px;
}

.logoRodape {
    margin-left: 135px;
}

.redes {
    margin: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}

.icone {
    width: 55px;
    padding: 9px;
}

.icone:hover {
    width: 62px;
    transition: 0.5s;
    filter: brightness(50%);
}

.texto-rodape {
    font: 400 20px 'Montserrat', sans-serif;
}

.rodapeTexto {
    text-align: justify;
}

.enderecoTexto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-right: 15px;
}

.iconMaps {
    margin-right: 20px;
}

.textoMaps {
    font: 400 20px 'Montserrat', sans-serif;
}

.rodape-lado2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 70px;
}

.logoRodape img {
    width: 170px;
}

.menina img {
    width: 180px;
}

.imgMaps img {
    width: 380px;
    border-radius: 10px;
}

.imgMaps {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.direitos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

.autorais {
    font: 300 16px 'Montserrat', serif;
}

.direito {
    font: 300 20px 'Montserrat', serif;
    margin-bottom: 10px;
}

footer {
    margin-top: 300px;
}